<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-registrant}">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">프로필 관리</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">프로필 관리</a></li>
                <li class="active">프로필 등록</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <form name="frm" th:action="@{/profiles}" th:object="${profile}" action="#" id="createProfileForm" method="post">
            <!-- cBox1 -->
            <div class="cBox type1 appCnt-info">
                <div class="cBox-hd">
                    <h4 class="c-tit">프로필 관리</h4>
                </div>
                <div class="cBox-cnt pt20">
                    <!-- inner -->
                    <div class="in pd0 d_block">
                        <!-- table top -->
                        <div class="tb-top">
                            <div class="pull-right">
                                <span class="point2"><i class="i_star">필수입력</i> 는 필수입력 사항입니다.</span>
                            </div>
                        </div>
                        <!-- //table top -->

                        <!-- table -->
                        <div class="tbw type1">
                            <table class="table">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">판매자명<i class="i_star">필수입력</i></th>
                                    <td>
                                        <input class="form-control" type="text" th:field="*{name}" id="profilesName">
                                        <p class="i_star" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">유형<i class="i_star">필수입력</i></th>
                                    <td>
                                        <select th:field="*{type}" id="profilesTypes">
                                            <option value="">선택</option>
                                            <option th:each="type : ${types}"
                                                    th:value="${type}"
                                                    th:utext="${type}">
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">담당자명</th>
                                    <td><input class="form-control" type="text" th:field="${profile.manager}" id="profilesManager"></td>
                                </tr>
                                <tr>
                                    <th scope="row">메일주소<i class="i_star">필수입력</i></th>
                                    <td><input class="form-control" type="text" th:field="${profile.email}" id="profilesEmail"></td>
                                </tr>
                                <tr>
                                    <th scope="row">홈페이지주소</th>
                                    <td><input class="form-control" type="text" th:field="${profile.siteUrl}" id="profilesSiteUrl"></td>
                                </tr>
                                <tr>
                                    <th scope="row">처리 상태</th>
                                    <td th:text="${status[0]}"></td>
<!--                                     <td th:text="${status[0].getName()}"></td>  //요청  -->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //table -->
                    </div>
                    <!-- //inner -->
                </div>
            </div>
            <!-- //cBox1 -->
            <div class="cont_btnBox">
                <button name="button" class="btn btn-color1 btn-md" type="button" id="saveBtn">등록</button>
            </div>
        </form>
        <!-- //form -->

    </div>
    <!-- //content -->
    <script type="text/javascript">
        /*<![CDATA[*/

        function submitForm() {
            document.frm.submit();
        }
        
        $('#saveBtn').click(function(){
        	
        	var manCheck = false;
            var msg = "";

         	// 판매자명
            if (!manCheck && commonUtils.isBlank($("#profilesName").val())) {
            	msg = "판매자명을 입력하세요.";
                manCheck = true;
            }
            // 유형
            if (!manCheck && commonUtils.isBlank($("#profilesTypes").val())) {
            	msg = "유형을 선택하세요.";
                manCheck = true;
            }
            // 메일주소
            if (!manCheck && commonUtils.isBlank($("#profilesEmail").val())) {
            	msg = "메일주소를 입력하세요.";
                manCheck = true;
            }
            
            // 알림 노출
            if(manCheck) {
                commonAlert.show(msg);
                return;
            }
            
            submitForm();
        })
        
        $(document).ready(function() {
            currentMenu('3');
        });

        /*]]>*/
    </script>
</div>
</html>
