<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-registrant}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">프로필 관리</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">프로필 관리</a></li>
                <li class="active">프로필 정보</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">프로필 상세</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pd0 d_block">
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">판매자명</th>
                                <td>(주)인튜</td>
                            </tr>
                            <tr>
                                <th scope="row">유형</th>
                                <td>기업</td>
                            </tr>
                            <tr>
                                <th scope="row">담당자명</th>
                                <td>정승권</td>
                            </tr>
                            <tr>
                                <th scope="row">메일주소</th>
                                <td>jungsk@intune.co.kr</td>
                            </tr>
                            <tr>
                                <th scope="row">홈페이지주소</th>
                                <td>www.intune.co.kr</td>
                            </tr>
                            <tr>
                                <th scope="row">등록일</th>
                                <td>2018-12-12</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table -->
                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->

        <div class="cont_btnBox">
            <button name="button" class="btn btn-color1 btn-md" type="button">수정</button>
        </div>
    </div>
    <!-- //content -->
    <script type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            console.log('::/profiles/list::');
        });


        /*]]>*/
    </script>
</div>
</html>
