<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-registrant}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">프로필 관리</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">프로필 관리</a></li>
                <li class="active">프로필 등록</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- //form -->
        <form th:object="${profile}" action="#" id="createProfileForm" method="post" enctype="multipart/form-data">
            <!-- cBox1 -->
            <div class="cBox type1 appCnt-info">
                <div class="cBox-hd">
                    <h4 class="c-tit">프로필 관리</h4>
                </div>
                <div class="cBox-cnt pt20">
                    <!-- inner -->
                    <div class="in pd0 d_block">
                        <!-- table top -->
                        <div class="tb-top">
                            <div class="pull-right">
                                <span class="point2"><i class="i_star">필수입력</i> 는 필수입력 사항입니다.</span>
                            </div>
                        </div>
                        <!-- //table top -->

                        <!-- table -->
                        <div class="tbw type1">
                            <table class="table">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody id="profilesTable">
                                <tr>
                                    <th scope="row">판매자명<i class="i_star">필수입력</i></th>
                                    <td>
                                        <input class="form-control" type="text" th:field="*{name}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">유형<i class="i_star">필수입력</i></th>
                                    <td>
                                        <select th:field="*{type}" id="type">
                                            <option value="">선택</option>
                                            <option th:each="profile : ${profile}"
                                                    th:value="${profile.type}"
                                                    th:utext="${profile.type}">
                                            </option>
                                        </select>

                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">담당자명</th>
                                    <td>
                                        <input class="form-control" type="text" name="manager" th:value="${profile.manager}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">메일주소<i class="i_star">필수입력</i></th>
                                    <td>
                                        <input class="form-control" type="text" name="email" th:value="${profile.email}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">홈페이지주소</th>
                                    <td>
                                        <input class="form-control" type="text" name="siteUrl"  th:value="${profile.siteUrl}">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //table -->
                    </div>
                    <!-- //inner -->
                </div>
            </div>
            <!-- //cBox1 -->
        </form>
        <!-- //form -->
        <div class="cont_btnBox" th:each="profile : ${profile}">
<!--            <button name="button" class="btn btn-color1 btn-md" type="button" onclick="createBtn()">등록</button>-->
            <button name="updateBtn" class="btn btn-color1 btn-md" onclick="updateBtn()" type="button" th:if="${profile.name != null}">수정</button>
            <button name="createBtn" class="btn btn-color1 btn-md" type="button" th:if="${profile.name == null}">등록</button>
        </div>
    </div>
    <!-- //content -->
    <script type="text/javascript">
        /*<![CDATA[*/

        $(document).ready(function() {
            console.log('::Profile List,Create::');
        });

        var updateBtn = function() {
            alert("updateBtn");
            // procMovePage("/profile/list/{id}".replace("{id}", id));
        }

        /*]]>*/
    </script>
</div>
</html>
