<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-registrant}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">요금 통계</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li class="active">요금 통계</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- Top 비주얼 -->
        <div class="top_visualWrap">
            <div class="top_visual">
                <p class="top_title">Welcome to PaaS-TA Market place</p>
                <p class="top_stitle">
                    Thanks to our partnership with PaaS-TA, we have the ability to gain new revenues, and our customers will gain<br />
                    access to all the new technologies and benefits those technologies bring. They are exceptionally forward thinking.<br />
                    they've built their business around the cloud.
                </p>
            </div>
        </div>
        <!-- //Top 비주얼 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <form th:action="@{/softwares}" th:object="${spec}" action="#" id="statsSoftwaresForm" method="get">
            <div class="searchBox">
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label class="label">사용연월</label></div>
                        <select name="selectDateYear1" id="selectDateYear1" th:onchange="selectYear()">

                        </select>
                        <label></label>
                        <select name="selectDateMonth1" id="selectDateMonth1" th:onchange="selectMonth()">

                        </select>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select th:field="*{categoryId}" id="categoryId">
                                <option value="">선택</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색" id="searchBtn"><span class="ico">검색</span></button>
            </div>
            </form>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
<!--            <h3 class="h-tit3">총 건수 <span class="point4">(10)</span><span class="point_txt"> / 총 금액(501,000원)</span></h3>-->
            <h3 class="h-tit3">총 건수 <span class="point4" id="totalElements"></span><span class="point_txt" id="totalPriceElements'"></span></h3>
        </div>


        <!-- 테이블 -->
        <div class="tbl type1">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:15%;">
                    <col style="width:auto;">
                    <col style="width:8%;">
                    <col style="width:15%;">
                    <col style="width:15%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품명</th>
                    <th scope="col">버전</th>
                    <th scope="col">등록일</th>
                    <th scope="col">판매량</th>
                    <th scope="col">판매액</th>
                </tr>
                </thead>
                <tbody id = "statsSoftwareArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->
    </div>
    <!-- //content -->
    <script type="text/javascript">
        /*<![CDATA[*/
        var PAGING_SIZE = 10;
        var pageNumSave = 0;
        var SORT = "id,asc";
        var yearValue = $("#selectDateYear1 option:selected").val();
        var monthValue = $("#selectDateMonth1 option:selected").val();



        var getStatsSoftwareList = function (pageNum) {
            var categoryId = $("#categoryId option:selected").val();        //카테고리

            console.log(":: categoryId :: " + categoryId +
                ":: page :: " + pageNum
            );

            if (categoryId === 'ALL' || categoryId === '') {
                categoryId = '';
            }

            console.log("기본 이어2 ::: " + yearValue + "& 기본 몬쓰2 ::: " + monthValue);

            var yy = yearValue; // 이번 해
            var yy2 = yearValue; // 다음 해

            var mm = monthValue; // 이번 달
            var mm2 = monthValue; // 다음 달

            if (monthValue < 10) {
                mm = '0' + monthValue;
                if((parseInt(monthValue) + 1) >= 10) {
                    mm2 = (parseInt(monthValue) + 1);
                } else {
                    mm2 = '0' + (parseInt(monthValue) + 1);
                }
            }else if(monthValue >= 10 && monthValue < 12) {
                mm = monthValue;
                mm2 = parseInt(monthValue) + 1;
            }


            if(monthValue > 11) {
                console.log("현재 12월 ::: " + yearValue + "-" + monthValue);
                console.log(parseInt(yearValue) + 1);
                yy = yearValue;
                yy2 = parseInt(yearValue) + 1;
                mm = monthValue;
                mm2 = "01";
            }

            var currentYearMonth = yy + "-" + mm + "-01";
            var nextYearMonth = yy2 + "-" + mm2 + "-01";

            var reqUrl = "/softwares" + "?categoryId=" + categoryId + "&page=" + pageNum + "&size=" + PAGING_SIZE + "&sort=" + SORT;
            console.log(reqUrl);

            // TODO : /admin/stats/instances/counts/months?epoch=2019-10-01&size=1&idIn=1&idIn=2&idIn=3&idIn=4 이거 참고하면 될 듯.
            		
            if (pageNum != null)
            	pageNumSave = pageNum;
            
            procCallAjax(reqUrl, "GET", null, null, callbackStatsSoftwareList);
        };

        var callbackStatsSoftwareList = function(data) {
            console.log("callbackStatsSoftwareList");
            console.log(data);
            var lastDay = ( new Date(yearValue, monthValue, 0) ).getDate();

            //::totalElements::
            $("#totalElements").text("(" + data.totalElements + ")");

            var statsSoftwareList = $("#statsSoftwareArea");
            var htmlString = [];
            var content = data.content;
            var listLength = content.length;

         	// 판매량
            var soldInstanceCountList = "[[${soldInstanceCount}]]";
            var soldInstanceCount = soldInstanceCountList.replace("{", "").replace("}", "").split(",");
            var soldCount;

            if(listLength > 0){
                for(var i = 0; i < listLength; i++){
                	var index = i + pageNumSave * data.size;
                	// Format Date
                	var createdDateValue = new Date(content[i].createdDate);
                	var createdDate = getFormatDate(createdDateValue);
                	
                    //var soldInstanceMap= soldInstanceCount[i].replace(/(\s*)/g, "");
                    var soldInstanceMap= soldInstanceCount[index].replace(/(\s*)/g, "");
                    console.log("index= "+(i+pageNumSave*PAGING_SIZE));
                    var value = soldInstanceMap.split("=");
                    
                    soldCount = value[1];

                    // TODO ::: 판매액 -> 판매량 안에서도 상품별 각각 사용한 일 수 구해서 다시 곱해줘야 함!!
                    htmlString.push(
                        "<tr>"
                        + "<td>" + (index + 1)  + "</td>"
                        + "<td><span class=\"pn_cate type"+ content[i].category.id +"\">" + content[i].category.name + "</span></td>"
                        + "<td>" + content[i].name+ "</td>"
                        + "<td>" + content[i].version + "</td>"
                        + "<td>" + createdDate + "</td>"
                        + "<td>" + soldCount + " 개</td>"
                        + "<td>" + soldCount * content[i].pricePerMonth + " 원</td>"
                        + "</tr>"
                    );
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='7'><p class='user_p'>상품이 존재하지 않습니다.</p></td>" + "</tr>"
            }

            statsSoftwareList.html(htmlString);
            
          	//::page::
            var pageTotalNumber = data.totalElements;   // 총 데이터 수
        	var pageSize = data.size;                   // 한 페이지에 나타낼 데이터 수        	
        	paging(pageTotalNumber, pageSize, PAGING_SIZE, pageNumSave);
        	
        	function paging(pageTotalNumber, pageSize, PAGING_SIZE, currentPage){
            	console.log("currentPage : " + currentPage);
            	currentPage = parseInt(currentPage);
                
            	var totalPage = Math.ceil(pageTotalNumber/pageSize);           // 총 페이지 수
            	if (currentPage)
            		var pageGroup = Math.ceil((currentPage+1)/PAGING_SIZE);    // 페이지 그룹
            	else var pageGroup = 1;
                
                console.log("pageGroup : " + pageGroup);
                
                var last = pageGroup * PAGING_SIZE;        // 화면에 보여질 마지막 페이지 번호 (실제 페이지와 -1 차이)
                if(last > totalPage)
                    last = totalPage;
                var first = last - (PAGING_SIZE-1)-1;      // 화면에 보여질 첫번째 페이지
                if(first < 0)
                    first = 0;                               
                var next = currentPage + 1;                // 다음 페이지
                var prev = currentPage - 1;                // 이전 페이지
                
                console.log("last : " + last);
                console.log("first : " + first);
                console.log("next : " + next);
                console.log("prev : " + prev);
                 
                var htmlStringPage = "";
                
                if(currentPage==0) {
                	htmlStringPage += "<li class='first disabled' id='first'><a href='#'>맨 처음</a></li>";                    
                } else {
                	htmlStringPage += "<li class='first' id='first'><a href='javascript:void(0);' onclick=moveSoftwareListPage('0')>맨 처음</a></li>";
                }
                
                if(prev < 0) {
                	htmlStringPage += "<li class='prev disabled' id='prev'><a href='#'>이전</a> </li>";                    
                } else {
                	htmlStringPage += "<li class='prev' id='prev'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ prev +"')>이전</a> </li>";
                }
                                    
                for(var i=first; i < last; i++){
                	if (i==currentPage) {
                		htmlStringPage += "<li class='active' id='" + i + "'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                	}
                	else {
                    	htmlStringPage += "<li id='" + i + "'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                	}
                }
                
                if(next > totalPage-1) {
                	htmlStringPage += "<li class='next disabled' id='next'><a href='#'>다음</a></li>";                   
                } else {
                	htmlStringPage += "<li class='next' id='next'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ next +"')>다음</a></li>";
                }
                
                if(currentPage==totalPage-1) {
                	htmlStringPage += "<li class='end disabled'><a href='#'>맨 끝</a></li>";            
                } else {
                	htmlStringPage += "<li class='end'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ (totalPage-1) +"')>맨 끝</a></li>";
                }
                                
                $("#pageNumberList").html(htmlStringPage);                      // 페이지 목록 생성                                     
            }
        };

		//페이지 이동
        var moveSoftwareListPage = function(page) {
            getStatsSoftwareList(page);
        };

        //eventBtn
        $("#searchBtn").on("click", function () {
            getStatsSoftwareList();
        });


        //move::SoftwareDetail
        var moveSoftwareDetail = function(id) {
            procMovePage("/admin/softwares/{id}".replace("{id}", id));
        };

        // [공통] 년, 월 select box
        function selectCal(monthfield, yearfield) {
            var today = new Date();

            console.log("오늘?? " + (today.getMonth() + 1));
            yearValue = today.getFullYear();
            monthValue = (today.getMonth() + 1);

            console.log("기본 이어1 ::: " + yearValue + "& 기본 몬쓰1 ::: " + monthValue);

            for (var i = 1; i < 13; i++) {

                if ((today.getMonth() + 1) == i) $("#" + monthfield).append("<option value='" + i + "' selected='selected'>" + i + "</option>");
                else $("#" + monthfield).append("<option value='" + i + "'>" + i + "</option>");
            }

            var thisyear = today.getFullYear();
            for (var y = thisyear - 10; y < thisyear + 10; y++) {

                if (thisyear == y) $("#" + yearfield).append("<option value='" + y + "' selected='selected'>" + y + "</option>");
                else $("#" + yearfield).append("<option value='" + y + "'>" + y + "</option>");
            }

        }

        var selectYear = function() {
            var selectedYearValue = $("#selectDateYear1 option:selected").val();
            console.log("Year ::: " + selectedYearValue);
            yearValue = selectedYearValue;
        };

        var selectMonth = function() {
            var selectedMonthValue = $("#selectDateMonth1 option:selected").val();
            console.log("Month ::: " + selectedMonthValue);
            monthValue = selectedMonthValue;
        };


        // ON LOAD
        $(document).ready(function() {
            selectCal('selectDateMonth1', 'selectDateYear1');
            getStatsSoftwareList();
            currentMenu('2_2');
        });

        /*]]>*/
    </script>
</div>
</html>
