<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-registrant}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="../../static/css/tui-chart.css"/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>
    <link rel='stylesheet' type='text/css' href='../../static/css/example.css'/>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
    <script src='../../static/js/tui-chart.js'></script>
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품 현황 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li class="active">상품 현황 상세</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">상품 현황 상세</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pd0 d_block">
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:auto;">
                                <col style="width:15%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">상품명</th>
                                <td colspan="3" th:text="${software.name}"></td>
                            </tr>
                            <tr>
                                <th scope="row">버전</th>
                                <td th:text="${software.version}"></td>
                                <th scope="row">카테고리</th>
                                <td th:text="${software.category.name}"></td>
                            </tr>
                            <tr>
                                <th scope="row">가격</th>
                                <td th:text="${#numbers.formatInteger(software.pricePerMonth, 0, 'COMMA') +' 원/월~'}"></td>
                                <th scope="row">판매자</th>
                                <td th:text="${software.createdBy}"></td>
                            </tr>
                            <tr>
                                <th scope="row">등록일</th>
                                <td th:text="${#temporals.format(software.createdDate,'yyyy-MM-dd')}"></td>
                                <th scope="row">승인일</th>
                                <td th:text="${#temporals.format(software.statusModifiedDate,'yyyy-MM-dd')}"></td>
                            </tr>
                            <tr>
                                <th scope="row">개요</th>
                                <td th:text="${software.description}"></td>
                                <th scope="row">총 누적 금액</th>
                                <td th:text="${#numbers.formatInteger(softwareUsagePriceTotal, 0, 'COMMA')+' 원'}"></td>
                            </tr>
                            <tr>
                                <th scope="row">판매량</th>
                                <td colspan="3" th:text="${#numbers.formatInteger(personalSoldInstanceCount, 0, 'COMMA') +' 개'}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class='wrap'>
                            <div id='chart-area'></div>
                        </div>
                    </div>
                    <!-- //table -->
                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">판매 현황 <span class="point4" id="totalCount"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:5%;">
                    <col style="width:20%;">
                    <col style="width:auto;">
                    <col style="width:15%;">
                    <col style="width:15%;">
                    <col style="width:15%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">인스턴스ID</th>
                    <th scope="col">사용자 이름</th>
                    <th scope="col">사용자 ID</th>
                    <th scope="col">구매일</th>
                    <th scope="col">종료일</th>
                    <th scope="col">판매금액</th>
                </tr>
                </thead>
                <tbody id="instanceListArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->
        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->
    </div>
    <!-- //content -->

    <input type="hidden" id="softwareId" th:value="${software.id}">
    <input type="hidden" id="software" th:value="${software}">
    <script type="text/javascript">
        /*<![CDATA[*/
        var PAGING_SIZE = 10;
        var pageNumSave = 0;
        var SORT = "id,asc";

        var softwareId = $("#softwareId").val();

        //사용량 추이(terms,counts)
        var totalCountInstsProviderInfo = "[[${totalCountInstsProviderInfo}]]";
        var countofInstsProvider = commonUtils.isBlank(totalCountInstsProviderInfo) ? [] : JSON.parse(totalCountInstsProviderInfo.replace(/&quot;/g,'"'));

        // ON LOAD
        $(document).ready(function () {
            getInstanceList();
            currentMenu('2_1');
        });

        var getSoftwareLineChart = function(contentData){
            var lineChartData = contentData.content;

            if (lineChartData.length == 0) {
                return;
            }else{
                var lineSeriesData = [];
                var lineItem = [];

                var map = lineChartData[0];

                lineItem = {name: map.software.name , data: countofInstsProvider.counts[softwareId]};
                lineSeriesData.push(lineItem);

            }

            var container = document.getElementById('chart-area');

            var data = {
                categories: countofInstsProvider.terms,
                series: lineSeriesData
            };
            var options = {
                chart: {
                    width: 1100,
                    height: 300,
                },
                /*column(down) data*/
                yAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto'
                },
                xAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto',
                    type: 'datetime',
                    dateFormat: 'yyyy-MM'
                },
                series: {
                    showDot: true,
                    zoomable: true,
                    pointWidth: 2
                },
                legend: {
                    visible: true,
                    showCheckbox: false
                },
                chartExportMenu: {
                    visible: false
                }
            };

            tui.chart.lineChart(container, data, options);

            $(".tui-chart-series-custom-event-area").hide();

        };

        var getInstanceList = function(pageNum) {
            var reqUrl = "/stats/instances" + "?softwareId=" + $("#softwareId").val() + "&size=" + PAGING_SIZE + "&sort=" + SORT + "&page=" + pageNum;
            if (pageNum != null)
            	pageNumSave = pageNum;
            procCallAjax(reqUrl, "GET", null, null, callbackGetInstanceList);
        };

        var callbackGetInstanceList = function(data) {
            getSoftwareLineChart(data);

            $("#totalCount").text("(" + data.totalElements + ")");

            var instanceListArea = $("#instanceListArea");
            var htmlString = [];
            var content = data.content;

            var listLength = content.length;

            if(listLength > 0){
                for(var i = 0; i < listLength; i++){
                    var usageEndDate = '';
                    if(content[i].usageEndDate == null){
                        usageEndDate = '';
                    }else{
                        var usageEndDateValue = new Date(content[i].usageEndDate);
                        usageEndDate = getFormatDate(usageEndDateValue);
                    }
                 	// Format Date
                 	var usageStartDateValue = new Date(content[i].usageStartDate);
                	var usageStartDate = getFormatDate(usageStartDateValue);
                	var index = (i+1) + pageNumSave * data.size;
                	
                	if (commonUtils.isBlank(usageEndDate)) {
                		usageEndDate = "-";
                	}

                    htmlString.push(
                        "<tr>"
                        + "<td>" + index + "</td>"
                        + "<td>" + content[i].id + "</td>"
                        + "<td>" + content[i].createdBy + "</td>"
                        + "<td>" + content[i].createdBy + "</td>"
                        + "<td>" + usageStartDate + "</td>"
                        + "<td>" + usageEndDate + "</td>"
                        + "<td>" + commonUtils.addComma(content[i].softwarePlanAmtMonth) +" 원</td>"
                        + "</tr>"
                    );
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='7'><p class='user_p'>결과가 존재하지 않습니다.</p></td>" + "</tr>"
            }

            instanceListArea.html(htmlString);

            //::page::
            var pageTotalNumber = data.totalElements;   // 총 데이터 수
        	var pageSize = data.size;                   // 한 페이지에 나타낼 데이터 수
        	paging(pageTotalNumber, pageSize, PAGING_SIZE, pageNumSave);

        	function paging(pageTotalNumber, pageSize, PAGING_SIZE, currentPage){
            	currentPage = parseInt(currentPage);

            	var totalPage = Math.ceil(pageTotalNumber/pageSize);           // 총 페이지 수
            	if (currentPage)
            		var pageGroup = Math.ceil((currentPage+1)/PAGING_SIZE);    // 페이지 그룹
            	else var pageGroup = 1;

                var last = pageGroup * PAGING_SIZE;        // 화면에 보여질 마지막 페이지 번호 (실제 페이지와 -1 차이)
                if(last > totalPage)
                    last = totalPage;
                var first = last - (PAGING_SIZE-1)-1;      // 화면에 보여질 첫번째 페이지
                if(first < 0)
                    first = 0;
                var next = currentPage + 1;                // 다음 페이지
                var prev = currentPage - 1;                // 이전 페이지
                var htmlStringPage = "";

                if(currentPage==0) {
                	htmlStringPage += "<li class='first disabled' id='first'><a href='#'>맨 처음</a></li>";
                } else {
                	htmlStringPage += "<li class='first' id='first'><a href='javascript:void(0);' onclick=moveInstanceListPage('0')>맨 처음</a></li>";
                }

                if(prev < 0) {
                	htmlStringPage += "<li class='prev disabled' id='prev'><a href='#'>이전</a> </li>";
                } else {
                	htmlStringPage += "<li class='prev' id='prev'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ prev +"')>이전</a> </li>";
                }

                for(var i=first; i < last; i++){
                	if (i==currentPage) {
                		htmlStringPage += "<li class='active' id='" + i + "'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                	}
                	else {
                    	htmlStringPage += "<li id='" + i + "'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                	}
                }

                if(next > totalPage-1) {
                	htmlStringPage += "<li class='next disabled' id='next'><a href='#'>다음</a></li>";
                } else {
                	htmlStringPage += "<li class='next' id='next'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ next +"')>다음</a></li>";
                }

                if(currentPage==totalPage-1) {
                	htmlStringPage += "<li class='end disabled'><a href='#'>맨 끝</a></li>";
                } else {
                	htmlStringPage += "<li class='end'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ (totalPage-1) +"')>맨 끝</a></li>";
                }

                $("#pageNumberList").html(htmlStringPage);                      // 페이지 목록 생성
            }
        };

        // moveInstanceListPage
        var moveInstanceListPage = function(page) {
            getInstanceList(page);
        };

        /*]]>*/
    </script>
</div>
</html>
