<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-registrant}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품 수정</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">등록 상품</a></li>
                <li class="active">상품 수정</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <form th:action="@{/softwares}" th:object="${software}" action="#" id="updateSoftwareForm" method="post" enctype="multipart/form-data">
        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">상품 수정하기</h4>
            </div>
            <div class="cBox-cnt pt20">
                <!-- inner -->
                <div class="in d_block">
                    <!-- table top -->
                    <div class="tb-top">
                        <div class="pull-right">
                            <span class="point2"><i class="i_star">필수입력</i> 는 필수입력 사항입니다.</span>
                        </div>
                    </div>
                    <!-- //table top -->
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">상품명<i class="i_star">필수입력</i></th>
                                <td><input class="form-control" type="text" th:value="${software.name}" id="softwareName"></td>
                            </tr>
                            <tr>
                                <th scope="row">카테고리<i class="i_star">필수입력</i></th>
                                <td>
                                    <select id="softwareCategory">
                                        <option th:each="category : ${categories}"
                                                th:value="${category.id}"
                                                th:utext="${category.name}"
                                                th:selected="${category.id} == ${software.category.id}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">개요<i class="i_star">필수입력</i></th>
                                <td><input class="form-control" style="height:50px;" type="text" th:value="${software.summary}" id="softwareSummary"></td>
                            </tr>
                            <tr>
                                <th scope="row">아이콘<i class="i_star">필수입력</i></th>
                                <td>
                                    <!-- 첨부파일 -->
                                    <div class="fileUploadWrap selected_ico" style="width:50%;" name="reSelectPreview">
                                        <input tabindex="-1" class="form-control" id="iconFileInput" name="iconFile" multiple style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="" onchange="getThumbnailPreview(this, $('#icon_image'))">
                                        <div class="bootstrap-filestyle input-group" id="bootstrap-filestyle input-group">
                                            <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                 <label class="btn btn-default " for="iconFileInput" id="icon_image">
                                                    <!--<img class="logo" alt="" />-->
                                                    <span class="ico ico_fileupload">파일찾기</span>
                                                </label>
                                            </span>
                                            <div class="input-form-group">
                                                <input name="userfile" disabled="" class="form-control" id="userfile" type="text" placeholder="아이콘으로 등록할 이미지를 선택하세요.">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- //첨부파일 -->
                                    <!-- 첨부파일 -->
                                    <div class="fileUploadWrap selected_ico" style="width:50%;" name="divPreview">
                                        <div class="bootstrap-filestyle input-group" id="bootstrap-filestyle input-group2">
                                            <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                 <label class="btn btn-default ">
                                                    <img class="logo" alt="" th:src="${software.iconPath}" id="iconFilePath" />
                                                 </label>
                                            </span>
                                            <div class="input-form-group">&nbsp;
                                                <!--<input name="userfile" disabled="" class="form-control" id="userfile" type="text" placeholder="아이콘으로 등록할 이미지를 선택하세요.">-->
                                                <a href="" data-toggle="modal" data-target="#myModal_icon_del"><img src="../../static/images/ico_delete.png" alt="" /></a>&nbsp;
                                                <span th:text="${software.icon}"></span>
                                            </div>
                                            <div>
                                                <label id="serviceLabelThumbName2" name="labelThumbName"></label>
                                                <div id="serviceThumRemove2" name="thumRemove" class="pull-right file-remove-button">
                                                    <i class="fa fa-times"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- //첨부파일 -->
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">스크린샷<i class="i_star">필수입력</i></th>
                                <td>
                                    <div class="screenShotBox">
                                        <div class="sshotWrap">
                                            <ul id="screenShotTotal">
                                                <li name="li_in" th:id="'li_in' + ${index.index}" th:each="screenshot, index : ${software.screenshotList}">
                                                    <div class="sshot_in" th:id="${index.index}">
                                                        <img th:src="${screenshot}" alt="" th:id="'image_form_url' + ${index.index}"/>
                                                        <a href="#" onclick="clickModal(this)" th:id="${index.index}" /><span class="ico ico_delete" name="ico_delete" th:id="${index.index}">X</span></a>
                                                        <!--<a href="" data-toggle="modal" data-target="#myModal_del"><span class="ico ico_delete" name="ico_delete" th:id="${index.index}">X</span></a>-->
                                                        <!--<button id="clickModal"><span class="ico ico_delete" name="ico_delete" th:id="${index.index}">X</span></button>-->
                                                    </div>
                                                </li>
                                                <!-- //첨부파일 -->
                                                <li id="li_0">
                                                    <div class="fileUploadWrap selected_sshot">
                                                        <input tabindex="-1" class="form-control" id="screenshotFileInput" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="screenshots"
                                                               multiple="multiple" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle=""
                                                               onchange="getThumbnailPreviewScreenshot(this, $('#screenshot_image_list'), 0)">
                                                        <div class="bootstrap-filestyle input-group">
                                                            <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                                <label class="btn btn-default " for="screenshotFileInput" id="screenshot_image_list">
                                                                    <span class="ico ico_fileupload">파일찾기</span>
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- //첨부파일 -->
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">상세설명</th>
                                <td>
                                    <div class="tbw_inner_txt">
                                        <input class="form-control" style="height:150px;" type="text" th:value="${software.description}" id="softwareDescription">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">파일유형<i class="i_star">필수입력</i></th>
                                <td>
                                    <div class="radio radio-inline" th:each="type : ${types}">
                                        <input name="softwareType" th:id="'radio1-' + ${type}" type="radio" th:value="${type}" th:checked="${software.type} == ${type}" >
                                        <label class="label" th:for="'radio1-' + ${type}" th:text="${type}"></label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">상품파일<i class="i_star">필수입력</i></th>
                                <td>
                                    <!-- 첨부파일 -->
                                    <div class="fileUploadWrap" style="width:50%;">
                                        <input tabindex="-1" class="form-control" id="softwareAppFileInput" multiple style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="softwareAppFile" onchange="extractFileName(this, $('#softwareAppFile'))" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="">
                                        <div class="bootstrap-filestyle input-group">
                                            <input class="form-control" id="softwareAppFile" type="text" th:value="${software.app}">
                                            <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                <label class="btn btn-default" for="softwareAppFileInput">
                                                    <span class="btn btn-md btn-color1">파일찾기</span>
                                                </label>
                                            </span>
                                        </div>
<!--                                        <div class="bootstrap-filestyle input-group">-->
<!--                                            <input class="form-control" type="text" th:value="${software.app}" readonly>-->
<!--                                        </div>-->
                                    </div>
                                    <!-- //첨부파일 -->
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">환경파일<i class="i_star">필수입력</i></th>
                                <td>
                                    <!-- 첨부파일 -->
                                    <div class="fileUploadWrap" style="width:50%;">
                                        <input tabindex="-1" class="form-control" id="softwareManifestInput" multiple style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="softwareManifest" onchange="extractFileName(this, $('#softwareManifest'))" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="">
                                        <div class="bootstrap-filestyle input-group">
                                            <input id="softwareManifest" class="form-control" type="text" th:value="${software.manifest}">
                                            <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                <label class="btn btn-dfefault" for="softwareManifestInput">
                                                    <span class="btn btn-md btn-color1">파일찾기</span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- //첨부파일 -->
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">판매가격<i class="i_star">필수입력</i></th>
                                <td>
                                    <div class="form-group">
                                        <input style="width:100px;" type="text" th:value="${software.pricePerDay}" id="softwarePricePerDay"> 원 / 월
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">전시여부<i class="i_star">필수입력</i></th>
                                <td>
                                    <div class="radio radio-inline" th:each="yn : ${yns}">
                                        <input name="softwareInUse" th:id="'radio1-' + ${yn}" type="radio" th:value="${yn}" th:checked="${software.inUse} == ${yn}">
                                        <label class="label" th:for="'radio1-' + ${yn}" th:text="${yn}"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">버전</th>
                                <td><input class="form-control" style="width:100px;" type="text" th:value="${software.version}" id="softwareVersion" readonly></td>
                            </tr>
                            <tr>
                                <th scope="row">등록일자</th>
                                <td><input class="form-control" type="text" th:value="${software.createdDate}" id="softwareCreatedDate" readonly></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table -->

                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->
        <div class="cont_btnBox">
            <div class="pull-right">
                <button name="button" class="btn btn-color1 btn-md" type="button" data-toggle="modal" data-target="#myModal_ok">저장</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal_ok" tabindex="-1" role="dialog" aria-labelledby="modalLabel_update" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="modalLabel_update">상품 수정</h4>
                            </div>
                            <div class="modal-body">
                                <div class="only-text">
                                    상품을 수정하시겠습니까?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" name="button" class="btn btn-color1"  th:onclick="'javascript:saveBtn(\''+ ${software.id} +'\');'">확인</button>
                                <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Modal -->
                <button name="button" class="btn btn-color7 btn-md" type="button" data-toggle="modal" data-target="#myModal_cancel">취소</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal_cancel" tabindex="-1" role="dialog" aria-labelledby="modalLabel_cancel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="modalLabel_cancel">수정 취소</h4>
                            </div>
                            <div class="modal-body">
                                <div class="only-text">
                                    취소 하시겠습니까?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" name="button" class="btn btn-color1"  th:onclick="'location.href = \'' + @{/softwares/{id}(id=${software.id})} + '\''">확인</button>
                                <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
            </div>
        </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal_del" tabindex="-1" role="dialog" aria-labelledby="modalLabel_del" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="modalLabel_del">스크린 샷 삭제</h4>
                </div>
                <div class="modal-body">
                    <div class="only-text">
                        삭제 후 스크린 샷 복구가 불 가능합니다.<br> 삭제하시겠습니까?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="button" id="deleteScreenShotBtn" class="btn btn-color1" onclick="deleteScreenShotBtn()" data-dismiss="modal">확인</button>
<!--                    <button type="button" name="button" class="btn btn-color1"  th:onclick="'javascript:delFileBtn(\''+ ${software.id} +'\');'">확인</button>-->
                    <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <!-- Modal -->
    <div class="modal fade" id="myModal_icon_del" tabindex="-1" role="dialog" aria-labelledby="modalLabel_icon_del" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="modalLabel_icon_del">아이콘 삭제</h4>
                </div>
                <div class="modal-body">
                    <div class="only-text">
                        삭제 후 아이콘 복구가 불 가능합니다.<br> 삭제하시겠습니까?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="button" id="deleteIconBtn" class="btn btn-color1" onclick="deleteIconBtn()" data-dismiss="modal">확인</button>
                    <!--                    <button type="button" name="button" class="btn btn-color1"  th:onclick="'javascript:delFileBtn(\''+ ${software.id} +'\');'">확인</button>-->
                    <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <input type="hidden" id="software" name="software" th:value="${software}" />
    <input type="hidden" id="id" name="id" th:value="${software.id}" />
    <input type="hidden" id="appPath" name="appPath" th:value="${software.appPath}" />
    <input type="hidden" id="screenshotList" name="screenshotList" th:value="${software.screenshotList}" />
    <input type="hidden" id="iconPath" name="iconPath" th:value="${software.iconPath}" />
    <input type="hidden" id="manifestPath" name="manifestPath" th:value="${software.manifestPath}" />
    <input type="hidden" id="indexForScreenShot" name="index" value="" />
    <!-- //content -->
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/

        FILE_INFO = {}; // 파일 초기화;

        $(document).ready(function() {
            console.log("software-update init");
            $('div[name=reSelectPreview]').hide();
        });

        // [상품] 리스트
        var getSoftwareList = function () {
            var software = $("#software").val();
            var id = $("#id").val();

            console.log(software);
        };


        var saveBtn = function(id) {
            console.log("ID : " + id);
            modifySoftware(id);
        };


        // TODO ::: 상품 파일, 환경 파일도 스크린샷 처럼 따로 처리 필요.
        var modifySoftware = function (id) {

            var reqParam = {
                "inUse" : $('input:radio[name="softwareInUse"]:checked').val(),
                "name" :  $("#softwareName").val(),
                "category" : {
                    "id" :  $("#softwareCategory option:selected").val()
                },
                "app" :  $("#softwareAppFile").val(),
                "manifest" : $("#softwareManifest").val(),
                "icon" : $("#iconFileInput").val(),
                "summary" :  $("#softwareSummary").val(),
                "description" : $("#softwareDescription").val(),
                "type" : $('input:radio[name="softwareType"]:checked').val(),
                "pricePerDay" : $("#softwarePricePerDay").val(),
                "version" :  $("#softwareVersion").val()
            };

            //console.log
            console.log(JSON.stringify(reqParam));

            var reqUrl = "/softwares/" + id;
            procCallAjax(reqUrl, "PUT", JSON.stringify(reqParam), null, callbackModifySoftware);
        };


        var callbackModifySoftware = function (data) {
            console.log("바뀐 상품 정보 ::: " + JSON.stringify(data));
            procMovePage("/softwares/{id}".replace("{id}", data.id));
        };


        //[아이콘] 화면 리스트
        var getThumbnailPreview = function (html, $target) {
            if (html.files && html.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $target.css('display', '');
                    $target.html('<img src="' + e.target.result + '" border="0" alt="" />');
                };
                reader.readAsDataURL(html.files[0]);
            }

            //[아이콘] 수정
            if(html.files[0] == null){
                console.log("html.files[0] == null ::DATA_NO::");
                return null;
            }else{
                console.log("html.files[0] != null ::DATA_YES::");
                var fileInfo = html.files[0];

                // Swift - create
                registerFile(fileInfo, "icon");

            }
        };

        // [아이콘] Swift 삭제
        function deleteIconBtn() {
            // Swift - delete
            var iconImagePath = jQuery('#iconFilePath').attr("src");
            console.log("지울 파일 이름 ::: " + iconImagePath);

            var imgPath = iconImagePath.split('http://15.164.0.24:10008/v1/AUTH_955647b847dd483d9ce3aa7828fc6ed5/marketplace-container/');
            var reqUrl = "/v2/swift/{name}".replace("{name}", imgPath[1]);

            console.log("지울 파일 위치 ::: " + reqUrl);
            procCallAjax(reqUrl ,"DELETE", null, null, callbackDeleteIconSwift);
        }

        var callbackDeleteIconSwift = function (data) {
            console.log("data ::: " + JSON.stringify(data));
            alert("반드시 아이콘을 추가해주시기 바랍니다.");

            $('div[name=divPreview]').hide();

            $('div[name=reSelectPreview]').show();
        };


        function clickModal(aaa) {
            var index = $(aaa).attr('id');
            console.log("따란~~ " + index);
            $("#indexForScreenShot").val(index);
            $('div #myModal_del').modal();
        }

        //[스크린 샷] 화면 리스트
        var getThumbnailPreviewScreenshot = function (html, $target, countNum) {
            var reader = new FileReader();
            reader.onload = function (e) {

                console.log("너냐???");
                $target.css('display', '');
                $target.html( '<li name="li_in" id="new_li_in'+ countNum + '">\n' +
                    '<div class="sshot_in">\n' +
                    '<img src="' + e.target.result + '" alt="" id="image_form_url">\n' +
                    '<a href="" data-toggle="modal" data-target="#myModal_del"><span class="ico ico_delete" name="ico_delete">X</span></a>\n' +
                    '</div>\n' +
                    '</li>');
            };
            reader.readAsDataURL(html.files[0]);

            //ADD
            console.log(countNum);
            count = countNum + 1;
            console.log(count);

            var currentTag = "#li_" + countNum;

            // 이미지 파일 첨부 버튼 추가 하기
            // 새로운 div 생성
            var obj = $(currentTag).clone();
            obj.attr('id', 'li_' + (countNum + 1));
            obj.find("label").attr('id', 'screenshot_image_list' + (countNum + 1));
            obj.find("label").attr('for', 'screenshotFileInput' + (countNum + 1));

            obj.find("input").attr('id', 'screenshotFileInput' + (countNum + 1));

            // 초기화
            obj.find("input").attr('onchange', '');
            obj.find("input").attr('name', '');

            $(currentTag).after(obj);


            //[스크린 샷] 수정
            if(html.files[0] == null){
                console.log("html.files[0] == null ::DATA_NO::");
                return null;
            }else{
                console.log("html.files[0] != null ::DATA_YES::");
                var fileInfo = html.files[0];
                registerFile(fileInfo, "screenShots");
            }
        };


        //[스크린 샷, 아이콘] 파일 첨부 확인 및 업로드
        function registerFile(data, fileType) {
            var formData = new FormData();
            console.log(" :: Register file :: ");
            console.log(data);

            formData.append("file", data);

            if(fileType === "screenShots") {
                console.log("여기는 스크린샷 업로드 !!!");
                uploadFile(formData,"POST","/v2/swift", createRegisterFileInfo);
            }

            if(fileType === "icon") {
                console.log("여기는 아이콘 업로드 !!!");
                uploadFile(formData,"POST","/v2/swift", createIconFile);
            }

        }

        //[아이콘] 신규 이미지 추가 (DB - icon, iconPath => update)
        function createIconFile(data){
            var id = $("#id").val();

            console.log(" :: createRegisterFileInfo :: ");
            console.log(data);

            if(data != null){
                FILE_INFO.iconFileName  = data.filename;
                FILE_INFO.iconFilePath  = data.fileURL;
                console.log("[FILE_INFO.iconFileName]: " + FILE_INFO.iconFileName + " "
                    + "[FILE_INFO.iconFilePath]: "+FILE_INFO.iconFilePath);
            }

            var storedFilename = data.storedFilename;
            var url = encodeURI("/softwares/file/"+ id + "/icon/" + storedFilename + "?iconFileName=" + data.filename);

            procCallAjax(url, "PUT", null, null, callbackScreenShotDb);
        }


        //[스크린 샷] 신규 이미지 추가
        function createRegisterFileInfo(data){
            var id = $("#id").val();

            console.log(" :: createRegisterFileInfo :: ");
            console.log(data);

            if(data != null){
                FILE_INFO.screenshots  = data.filename;
                FILE_INFO.screenshotsFilePath  = data.fileURL;
                FILE_INFO.screenshotsFileSize  = data.length;
                console.log("[FILE_INFO.screenshots]: " + FILE_INFO.screenshots + " "
                            + "[FILE_INFO.screenshotsFilePath]: "+FILE_INFO.screenshotsFilePath+ " "
                            + "[FILE_INFO.screenshotsFileSize]: "+FILE_INFO.screenshotsFileSize);
            }

            var imgPath = FILE_INFO.screenshotsFilePath.split('http://15.164.0.24:10008/v1/AUTH_955647b847dd483d9ce3aa7828fc6ed5/marketplace-container/');

            procCallAjax("/softwares/file/"+ id + "/screenShots/" + imgPath[1], "PUT", null, null, callbackScreenShotDb);
        }


        var callbackScreenShotDb = function (data) {
            console.log("스크린샷 리스트 ::: " + JSON.stringify(data));
            totalScreenShotList(data);
        };


        // 스크린샷 리스트 재정렬
        var totalScreenShotList = function (data) {
            var htmlString = [];

            for(var i = 0; i < data.screenshotList.length; i++) {
                var screenShot = data.screenshotList[i];

                htmlString.push('<li name="li_in" id="li_in'+ i + '">\n' +
                    '<div class="sshot_in">\n' +
                    '<img src="' + screenShot + '" alt="" id="image_form_url'+ i + '">\n' +
                    '<a href="#" onclick="clickModal(this)" id="' + i +'"><span class="ico ico_delete" name="ico_delete">X</span></a>\n' +
                    '</div>\n' +
                    '</li>')
            }

            $("#screenShotTotal").html(htmlString);
        };

        function deleteScreenShotBtn() {
            var index = $("#indexForScreenShot").val();
            var selectId = "#image_form_url" + index;
            console.log("오늘은 일찍 가즈아~~~ " + index + " & " + selectId);
            var selectedScreenshot = $(selectId).attr("src");
            console.log("FILE_INFO.screenshotListSRC: " + selectedScreenshot);

            var imgPath = selectedScreenshot.split('http://15.164.0.24:10008/v1/AUTH_955647b847dd483d9ce3aa7828fc6ed5/marketplace-container/');

            var reqUrl = "/v2/swift/{name}".replace("{name}", imgPath[1]);
            console.log("abcd :::" + reqUrl);
            procCallAjax(reqUrl ,"DELETE", null, null, callbackDeleteScreenShotSwift);
        }

        var callbackDeleteScreenShotSwift = function (data) {
            console.log("data ::: " + JSON.stringify(data));

            if ("SUCCESS" == data.result) {
                deleteScreenShot(data.deletedImgPath);
            }
        };

        // [스크린 샷] 삭제
        function deleteScreenShot(imgPath) {
            console.log("image Path ::: " + imgPath);

            var id = $("#id").val();
            // console.log("deleteIconBtn [id] : " + id);
            //
            FILE_INFO.screenshotListSRC  = jQuery('#image_form_url').attr("src");
            console.log("FILE_INFO.screenshotListSRC: " + FILE_INFO.screenshotListSRC);

            //delete Icon_Btn Event
            //$("li [name='li_in']").hide();

            procCallAjax("/softwares/file/"+ id + "/screenShots/" + imgPath, "DELETE", null, null, deleteScreenShotDb);
        }


        var deleteScreenShotDb  = function (data) {
          console.log("hohoho ::: " + JSON.stringify(data));

          totalScreenShotList(data);
        };

        // reqType 따른 파일 업로드/삭제 처리
        var uploadFile = function(formData, reqType, reqUploadUrl, reqProcFunction) {

            $.ajax({
                url : reqUploadUrl
                , method : reqType
                , processData : false
                , contentType : false
                , data : formData
                , dataType : "json"
                , timeout : 600000
                ,success : function(data){

                    if(reqType == "DELETE"){ // 삭제시 파일정보 초기화
                        data.filename = "";
                        data.fileURL  = "";
                        data.length   = "";
                    }

                    if(reqProcFunction != null){
                        reqProcFunction(data);
                    }
                },
                error: function(xhr, status, error) {
                    console.log("ERROR :: error :: ", error);
                    notifyAlert('danger','',JSON.parse(xhr.responseText).message);
                },
                complete : function(data) {
                    console.log("COMPLETE :: data :: ", data);
                }
            });
        };

        /*]]>*/
    </script>
</div>
</html>
