<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-registrant}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="../../static/css/tui-chart.css"/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>
    <link rel='stylesheet' type='text/css' href='../../static/css/example.css'/>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
    <script src='../../static/js/tui-chart.js'></script>
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품 현황 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li class="active">상품 현황 상세</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">상품 현황 상세</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pd0 d_block">
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:auto;">
                                <col style="width:15%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">상품명</th>
                                <td colspan="3" th:text="${software.name}"></td>
                            </tr>
                            <tr>
                                <th scope="row">버전</th>
                                <td th:text="${software.version}"></td>
                                <th scope="row">카테고리</th>
                                <td th:text="${software.category.name}"></td>
                            </tr>
                            <tr>
                                <th scope="row">가격</th>
                                <td th:text="${software.pricePerDay}">원/월</td>
                                <th scope="row">판매자</th>
                                <td th:text="${software.createdBy}"></td>
                            </tr>
                            <tr>
                                <th scope="row">등록일</th>
                                <td th:text="${#temporals.format(software.createdDate,'yyyy-MM-dd')}"></td>
                                <th scope="row">승인일</th>
                                <td th:text="${#temporals.format(software.statusModifiedDate,'yyyy-MM-dd')}"></td>
                            </tr>
                            <tr>
                                <th scope="row">개요</th>
                                <td colspan="3" th:text="${software.description}"></td>
                            </tr>
                            <tr>
                                <th scope="row">판매량</th>
                                <td colspan="3" th:text="${instanceUsingUserSum + ' 개'}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class='wrap'>
                            <div id='chart-area'></div>
                        </div>
                    </div>
                    <!-- //table -->
                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">판매 현황 <span class="point4" id="totalCount"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:10%;">
                    <col style="width:20%;">
                    <col style="width:auto;">
                    <col style="width:18%;">
                    <col style="width:18%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">인스턴스ID</th>
                    <th scope="col">사용자 이름</th>
                    <th scope="col">사용자 ID</th>
                    <th scope="col">구매일</th>
                    <th scope="col">종료일</th>
                </tr>
                </thead>
                <tbody id="instanceListArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->
        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->
    </div>
    <!-- //content -->

    <input type="hidden" id="softwareId" th:value="${software.id}">
    <input type="hidden" id="software" th:value="${software}">
    <input type="hidden" id="instanceUsingUserSum" th:value="${instanceUsingUserSum}">
    <script type="text/javascript">
        /*<![CDATA[*/
        var PAGING_SIZE = 10;
        var SORT = "id,asc";

        //사용량 추이(terms,counts)
        var countOfInstsProviderMonthly = "[[${countOfInstsProviderMonthly}]]";
        var countOfInstsProviderCounts = "[[${countOfInstsProviderCounts}]]";

        // ON LOAD
        $(document).ready(function () {
            // var software = $("#software").val();
            getInstanceList();
        });

        var getSoftwareLineChart = function(contentData){
            console.log(">>lineChartData");
            var instanceUsingUserSum = $("#instanceUsingUserSum").val();
            var categoriesData = countOfInstsProviderMonthly.replace("[", "").replace("]", "").split(",");
            var countsData = countOfInstsProviderCounts.replace("[", "").replace("]", "").split(",");

            var lineChartData = contentData.content;

            if (lineChartData.length == 0) {
                return;
            }else{
                var lineSeriesData = [];
                var lineItem = [];


                for (var i = 0; i < lineChartData.length; i++) {
                    var map = lineChartData[i];

                    //dataJson(softwareName,series)
                    lineItem = {name: map.appName , data: instanceUsingUserSum};
                    // lineItem = {name: map.name , data: [0, 0, 0, 0, 0, 0, 0, 0, .0, 0, 0, 2]};
                    lineSeriesData.push(lineItem);
                }
                console.log(lineSeriesData);
            }

            var container = document.getElementById('chart-area');

            var data = {
                categories: categoriesData,
                series: lineSeriesData
            };
            var options = {
                chart: {
                    width: 1200,
                    height: 300,
                },
                /*column(down) data*/
                yAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto'
                },
                xAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto',
                    type: 'datetime',
                    dateFormat: 'yyyy-MMM'
                },
                series: {
                    showDot: false,
                    zoomable: true,
                    pointWidth: 2
                },
                legend: {
                    visible: true,
                    showCheckbox: false
                },
                chartExportMenu: {
                    visible: false
                }
            };

            tui.chart.lineChart(container, data, options);

            $(".tui-chart-series-custom-event-area").hide();

        };

        var getInstanceList = function(pageNum) {
            var reqUrl = "/stats/instances" + "?softwareId=" + $("#softwareId").val() + "&size=" + PAGING_SIZE + "&sort=" + SORT + "&page=" + pageNum;
            procCallAjax(reqUrl, "GET", null, null, callbackGetInstanceList);
        };

        var callbackGetInstanceList = function(data) {

            getSoftwareLineChart(data);

            $("#totalCount").text("(" + data.totalElements + ")");

            var instanceListArea = $("#instanceListArea");
            var htmlString = [];
            var content = data.content;

            var listLength = content.length;

            if(listLength > 0){
                for(var i = 0; i < listLength; i++){
                    var usageEndDate = '';
                    if(content[i].usageEndDate == null){
                        usageEndDate = '';
                    }else{
                        usageEndDate = content[i].usageEndDate;
                    }

                    htmlString.push(
                        "<tr>"
                        + "<td>" + (i + 1)  + "</td>"
                        + "<td>" + content[i].appName + "</td>"
                        + "<td>" + content[i].createdBy + "</td>"
                        + "<td>" + content[i].createdBy + "</td>"
                        + "<td>" + content[i].usageStartDate + "</td>"
                        + "<td>" + usageEndDate + "</td>"
                        + "</tr>"
                    );
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='6'><p class='user_p'>결과가 존재하지 않습니다.</p></td>" + "</tr>"
            }

            instanceListArea.html(htmlString);

            //::page::
            var pageNumberList = $("#pageNumberList");
            var htmlStringPage = "<li class='first disabled'><a href='#'>맨 처음</a></li>" + "<li class='prev'><a href='#'>이전</a></li>";
            var pageTotalNumber = data.totalElements;
            var pageSize = data.size;

            var pageCount = Math.ceil(pageTotalNumber/pageSize);

            if(pageCount > 0){
                for(var page = 0; page < pageCount; page++){
                    htmlStringPage += "<li class='active'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ page +"')>" + (page + 1) + "<span class='sr-only'>(current)</span></a></li>"
                }
            }
            htmlStringPage += "<li class='next'><a href='#'>다음</a></li>" + "<li class='end'><a href='#'>맨 끝</a></li>";
            pageNumberList.html(htmlStringPage);
        };

        // moveInstanceListPage
        var moveInstanceListPage = function(page) {
            getInstanceList(page);
        };

        /*]]>*/
    </script>
</div>
</html>
