<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-registrant}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">사용현황</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li class="active">상품 현황</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- 사용현황 -->
        <div class="statusBox">
            <ul>
                <li>
                    <div class="inWrap bg01">
                        <span class="tit">등록 상품 수</span>
                        <div class="in_txtBox">
                            <span class="count">50</span>
                            <p class="txt">Total number of registered product</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inWrap bg02">
                        <span class="tit">사용 상품 수</span>
                        <div class="in_txtBox">
                            <span class="count">18</span>
                            <p class="txt">Number of product in use</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inWrap bg03">
                        <span class="tit">전체 사용자 수</span>
                        <div class="in_txtBox">
                            <span class="count">54</span>
                            <p class="txt">Total Users</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- //사용현황 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox">
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_box w_auto pr10">
                            <select id="" name="">
                                <option value="">등록일</option>
                                <option value="">승인일</option>
                            </select>
                        </div>
                        <div class="fm_box w_auto">
                            <div class="dateWrap">
                                <div class="date-inpt"><input type="text" class="datepicker" placeholder="YYYY-MM-DD"></div>
                                <span class="wave">~</span>
                                <div class="date-inpt"><input type="text" class="datepicker" placeholder="YYYY-MM-DD"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select id="" name="">
                                <option value="">전체</option>
                                <option value="">보안</option>
                                <option value="">ERP</option>
                                <option value="">게임</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4">(10)</span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:15%;">
                    <col style="width:auto;">
                    <col style="width:8%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품 명</th>
                    <th scope="col">버전</th>
                    <th scope="col">등록일</th>
                    <th scope="col">승인일</th>
                    <th scope="col">사용자 수</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10</td>
                    <td><span class="pn_cate type5">보안</span></td>
                    <td>Magic FIDO</td>
                    <td>1.0</td>
                    <td>2019-04-01</td>
                    <td>2019-04-02</td>
                    <td>15명</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><span class="pn_cate type5">보안</span></td>
                    <td>테드폴허브</td>
                    <td>1.5</td>
                    <td>2019-04-01</td>
                    <td>2019-04-02</td>
                    <td>15명</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><span class="pn_cate type3">의료</span></td>
                    <td>스마트닥터</td>
                    <td>1.2</td>
                    <td>2019-04-01</td>
                    <td>2019-04-02</td>
                    <td>15명</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><span class="pn_cate type4">커머스</span></td>
                    <td>영카트</td>
                    <td>2.0</td>
                    <td>2019-04-01</td>
                    <td>2019-04-02</td>
                    <td>15명</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><span class="pn_cate type4">커머스</span></td>
                    <td>마젠토</td>
                    <td>1.7</td>
                    <td>2019-04-01</td>
                    <td>2019-04-02</td>
                    <td>15명</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><span class="pn_cate type1">CRM</span></td>
                    <td>세일즈포인트</td>
                    <td>2.3</td>
                    <td>2019-04-01</td>
                    <td>2019-04-02</td>
                    <td>15명</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><span class="pn_cate type1">CRM</span></td>
                    <td>알림톡,친구톡</td>
                    <td>2.5</td>
                    <td>2019-04-01</td>
                    <td>2019-04-02</td>
                    <td>15명</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><span class="pn_cate type1">CRM</span></td>
                    <td>핑거세일즈</td>
                    <td>3.0</td>
                    <td>2019-04-01</td>
                    <td>2019-04-02</td>
                    <td>15명</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><span class="pn_cate type4">마케팅</span></td>
                    <td>마케팅크래프트 리포트</td>
                    <td>2.8</td>
                    <td>2019-04-01</td>
                    <td>2019-04-02</td>
                    <td>15명</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><span class="pn_cate type4">방송</span></td>
                    <td>PalyCon</td>
                    <td>1.5</td>
                    <td>2019-04-01</td>
                    <td>2019-04-02</td>
                    <td>15명</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination">
                <li class="first disabled"><a href="#">맨 처음</a></li>
                <li class="prev"><a href="#">이전</a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li class=" disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li class="next"><a href="#">다음</a></li>
                <li class="end"><a href="#">맨 끝</a></li>
            </ul>
        </nav>
        <!-- //page -->
    </div>
    <!-- //content -->
</div>
</html>