<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-registrant}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품 등록</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">등록 상품</a></li>
                <li class="active">상품 등록</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!--TODO ::: 상품 이름 중복 안됨. 나머지 유효성 체크도 해야 함.-->
    <!-- content -->
    <div class="content">
        <!--  NOTE:  여기에서 th:object를 해주면 @Controller에서 넣어준 @ModelAttribute 객체를 submit할 때 채워준다-->
        <!--  NOTE:  action은 form을 보낼 위치, action="#"은 이렇게 두는 것 이당-->
        <form  name="frm" th:action="@{/softwares}" th:object="${software}" action="#" id="createSoftwareForm" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
            <!-- cBox1 -->
            <div class="cBox type1 appCnt-info">
                <div class="cBox-hd">
                    <h4 class="c-tit">상품 등록하기</h4>
                </div>
                <div class="cBox-cnt pt20">
                    <!-- inner -->
                    <div class="in d_block">
                        <!-- table top -->
                        <div class="tb-top">
                            <div class="pull-right">
                                <span class="point2"><i class="i_star">필수입력</i> 는 필수입력 사항입니다.</span>
                            </div>
                        </div>
                        <!-- //table top -->
                        <!-- table -->
                        <div class="tbw type1">
                            <table class="table">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">상품명<i class="i_star">필수입력</i></th>
                                    <!--  NOTE:  여기에서 field를 쓰면 th:object의 name (software.name)필드를 채워준다 validation도 해주는 것 같다 -->
                                    <td>
                                        <input class="form-control" type="text" th:field="*{name}" th:id="swname">
                                        <!-- validation 체크는 아래와 같이 하도록 하세용 -->
                                        <p class="i_star" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">카테고리<i class="i_star">필수입력</i></th>
                                    <td>
                                        <select th:field="*{category.id}" th:id="category">
                                            <option value="">선택</option>
                                            <option th:each="category : ${categories}"
                                                    th:value="${category.id}"
                                                    th:utext="${category.name}">
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">개요<i class="i_star">필수입력</i></th>
                                    <td><textarea th:field="*{summary}" th:id="summary" style="height:150px;"></textarea></td>
                                </tr>
                                <tr>
                                    <th scope="row">아이콘<i class="i_star">필수입력</i></th>
                                    <td>
                                        <!-- 첨부파일 -->
                                        <div class="fileUploadWrap selected_ico" style="width:50%;" id="iconFileSelect">
                                            <input tabindex="-1" class="form-control" id="iconFileInput" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="iconFile" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="" onchange="getIconImagePreview(this, $('#icon_image'))">
                                            <div class="bootstrap-filestyle input-group">
                                                <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                    <label class="btn btn-default " for="iconFileInput" id="icon_image">
                                                        <span class="ico ico_fileupload">파일찾기</span>
                                                    </label>
                                                </span>
                                                <div class="input-form-group">
                                                    <input name="userfile" disabled="" class="form-control" id="iconFile" type="text" placeholder="아이콘으로 등록할 이미지를 선택하세요.">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- //첨부파일 -->
                                        <div class="fileUploadWrap selected_ico" style="width:50%; display:none;" name="divPreview" id="iconFileSelectPreview">
	                                        <div class="bootstrap-filestyle input-group" id="bootstrap-filestyle input-group2">
	                                            <span tabindex="0" class="group-span-filestyle input-group-btn">
	                                                 <label class="btn btn-default ">
	                                                    <img class="logo" alt="" src="" id="iconFilePath" />
	                                                 </label>
	                                            </span>
	                                            <div class="input-form-group">&nbsp;
	                                                <a href="#" onclick="deleteSelectedIconImage();"><img src="../../static/images/ico_delete.png"/></a>&nbsp;
	                                                <span id="iconFileNamePreview"></span>
	                                            </div>
	                                            <div>
	                                                <label id="serviceLabelThumbName2" name="labelThumbName"></label>
	                                                <div id="serviceThumRemove2" name="thumRemove" class="pull-right file-remove-button">
	                                                    <i class="fa fa-times"></i>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
                                    </td>
                                </tr>
								<tr>
								    <th scope="row">스크린샷<i class="i_star">필수입력</i></th>
								    <td>
								        <div class="screenShotBox">
								            <div class="sshotWrap">
								                <ul id="screenshot_ul">
								                    <li id="li_0" name="screenshot_upload_list">
								                        <div class="fileUploadWrap selected_sshot">
								                        	<div class="sshot_in" id="dumy_div_0" style="display:none;">
								                        		<img src="" alt="" id="dumy_image_0"/>
								                        		<a href="#" onclick="screenshotDelete(0)" data-index="0">
								                        			<span class="ico ico_delete" name="ico_delete" id="0">X</span>
								                        		</a>
								                    		</div>
								                            <input tabindex="-1" class="form-control" id="screenshotFileInput_0" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="screenshots" multiple="multiple" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="" onchange="screenshotChange(this, 0)">
								                            <div class="bootstrap-filestyle input-group" id="screenshotFileLabel_0">
								                                <span tabindex="0" class="group-span-filestyle input-group-btn">
								                                    <label class="btn btn-default " for="screenshotFileInput_0" id="screenshot_image_list">
								                                        <span class="ico ico_fileupload">파일찾기</span>
								                                    </label>
								                                </span>
								                            </div>
								                        </div>
								                    </li>
								                </ul>
								            </div>
								        </div>
								    </td>
								</tr>
                                <tr>
                                    <th scope="row">상세설명<i class="i_star">필수입력</i></th>
                                    <td><textarea th:field="*{description}" th:id="swDescription" style="height:150px;"></textarea></td>
                                </tr>
                                <tr>
                                    <th scope="row">파일유형<i class="i_star">필수입력</i></th>
                                    <td>
                                        <!--  NOTE:  th:value값은 꼭 있어야 에러가 나지 않는다 -->
                                        <div class="radio radio-inline" th:each="type : ${types}">
                                            <input name="radio11" th:id="'radio1-' + ${type}" type="radio" th:field="*{type}" th:value="${type}">
                                            <label class="label" th:for="'radio1-' + ${type}" th:text="${type}"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">상품파일<i class="i_star">필수입력</i></th>
                                    <td>
                                        <!-- 첨부파일 -->
                                        <div class="fileUploadWrap" style="width:50%;">
                                            <input tabindex="-1" class="form-control" id="productFileInput" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="productFile" onchange="extractFileName(this, $('#productFile'))" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="">
                                            <div class="bootstrap-filestyle input-group">
                                                <input readonly class="form-control" id="productFile" type="text" value="">
                                                <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                <label class="btn btn-default" for="productFileInput">
                                                    <span class="btn btn-md btn-color1">파일찾기</span>
                                                </label>
                                            </span>
                                            </div>
                                        </div>

                                        <!-- //첨부파일 -->
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">환경파일<i class="i_star">필수입력</i></th>
                                    <td>
                                        <!-- 첨부파일 -->
                                        <div class="fileUploadWrap" style="width:50%;">
                                            <input tabindex="-1" class="form-control" id="environmentFileInput" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="environmentFile" onchange="extractFileName(this, $('#environmentFile'))" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="">
                                            <div class="bootstrap-filestyle input-group">
                                                <input id="environmentFile" readonly class="form-control" type="text">
                                                <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                <label class="btn btn-dfefault" for="environmentFileInput">
                                                    <span class="btn btn-md btn-color1">파일찾기</span>
                                                </label>
                                            </span>
                                            </div>
                                        </div>

                                        <!-- //첨부파일 -->
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">판매금액 적용월</th>
                                    <td>
                                        <div class="form-group" th:each="softwarePlanList, stat : ${T(org.openpaas.paasta.marketplace.api.domain.SoftwarePlan)}">
                                            <input style="width:100px;" type="text" id="applyMonth" readonly>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">판매가격<i class="i_star">필수입력</i></th>
                                    <td>
                                        <table>
                                            <tr>
                                                <th scope="row">
                                                    <input type="button" value="&nbsp; - &nbsp;" onclick="delRow();">
                                                    &nbsp;플랜&nbsp;
                                                    <input type="button" value="&nbsp; + &nbsp;" onclick="addRow();">
                                                </th>
                                                <th scope="row">설명</th>
                                                <th scope="row">CPU</th>
                                                <th scope="row">Memory</th>
                                                <th scope="row">Disk</th>
                                                <th scope="row">가격</th>
                                            </tr>
                                            <tbody id="pricePerMonth-tbody">
                                            <tr th:each="softwarePlanList, stat : ${T(org.openpaas.paasta.marketplace.api.domain.SoftwarePlan)}">
                                                <td data-th-data-element-index="${stat.index}">
                                                    <input type="checkbox" th:name="checkRow"/>&nbsp;<input type=text th:field="*{softwarePlanList[__${stat.index}__].name}" th:id="'name_'+ ${stat.index}" name="name" placeholder="Small">
                                                </td>
                                                <td><input class="form-control" type="text" th:field="*{softwarePlanList[__${stat.index}__].description}" th:id="'description_' +${stat.index}" name="description" placeholder="표준성능"></td>

                                                <td><input class="form-control" type="text" th:field="*{softwarePlanList[__${stat.index}__].cpuAmt}" th:id="'cpuAmt_' +${stat.index}" name="cpuAmt" th:onkeyup="'amt('+${stat.index}+')'" placeholder="₩ 1,000"></td>
                                                <td>
                                                    <input class="form-control" type="text" th:field="*{softwarePlanList[__${stat.index}__].memorySize}" th:id="'memorySize_' +${stat.index}"  name="memorySize" th:onkeyup="'chk('+${stat.index}+')'" placeholder="1234M"> &nbsp;<input class="form-control" type="text" th:field="*{softwarePlanList[__${stat.index}__].memoryAmt}" th:id="'memoryAmt_' +${stat.index}" name="memoryAmt" th:onkeyup="'amt('+${stat.index}+')'" placeholder="₩ 1,000">
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" th:field="*{softwarePlanList[__${stat.index}__].diskSize}" th:id="'diskSize_' +${stat.index}" name="diskSize" th:onkeyup="'chk('+${stat.index}+')'" placeholder="1G"> &nbsp;<input class="form-control" type="text" th:field="*{softwarePlanList[__${stat.index}__].diskAmt}" th:id="'diskAmt_' +${stat.index}" name="diskAmt" th:onkeyup="'amt('+${stat.index}+')'" placeholder="₩ 1,000">
                                                </td>
                                                <td>
                                                	<input class="form-control" type="text" th:id="'sumAmt_'+${stat.index}" name="sumAmt" readonly />
                                                    <input type="hidden" id="inUse_0" name="softwarePlanList[0].inUse" value='Y'/>
                                                	<input type="hidden" id="applyMonth_0" name="softwarePlanList[0].applyMonth" />
                                                </td>
                                            </tr>
                                           </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">등록일자</th>
                                    <td th:text="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd')}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">전시여부<i class="i_star">필수입력</i></th>
                                    <td>
                                        <div class="radio radio-inline" th:each="yn : ${yns}">
                                            <input name="radio19" th:id="'radio1-' + ${yn}" type="radio" th:field="*{inUse}" th:value="${yn}" th:name="inUse">
                                            <label class="label" th:for="'radio1-' + ${yn}" th:text="${yn}"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">등록버전<i class="i_star">필수입력</i></th>
                                    <td>
                                        <div class="form-group">
                                            <input style="width:100px;" type="text" placeholder="1.0" th:field="*{version}" th:id="version">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //table -->

                    </div>
                    <!-- //inner -->
                </div>
            </div>
            <!-- //cBox1 -->
            <div class="cont_btnBox">
                <div class="pull-right">
                    <button name="button" class="btn btn-color1 btn-md" type="button" id="saveBtn">등록요청</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal_ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="myModalLabel">등록요청</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="only-text">
                                        상품 등록을 요청하시겠습니까?<br>관리자 승인 후 상품이 등록됩니다.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" name="button" class="btn btn-color1" onclick="confirmSoftware()">확인</button>
                                    <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //Modal -->
                    <button name="button" class="btn btn-color7 btn-md" type="button" onclick="location.href='/softwares/list'">취소</button>

                </div>
            </div>
            <input type="hidden" id="finalPricePerMonth" name="pricePerMonth" value="0"/>
        </form>
    </div>
    <!-- //content -->
    
    <!-- screenshotTemplate Template -->
    <SCRIPT id="screenshotTemplate" type="text/html">
		<li id="li_${index}" name="screenshot_upload_list">
            <div class="fileUploadWrap selected_sshot">
            	<div class="sshot_in" id="dumy_div_${index}" style="display:none;">
            		<img src="" alt="" id="dumy_image_${index}"/>
            		<a href="#" onclick="screenshotDelete(${index})" data-index="${index}">
            			<span class="ico ico_delete" name="ico_delete" id="0">X</span>
            		</a>
        		</div>
                <input tabindex="-1" class="form-control" id="screenshotFileInput_${index}" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="screenshots" multiple="multiple" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="" onchange="screenshotChange(this, ${index})">
                <div class="bootstrap-filestyle input-group" id="screenshotFileLabel_${index}">
                    <span tabindex="0" class="group-span-filestyle input-group-btn">
                        <label class="btn btn-default " for="screenshotFileInput_${index}" id="screenshot_image_list">
                            <span class="ico ico_fileupload">파일찾기</span>
                        </label>
                    </span>
                </div>
            </div>
        </li>
	</SCRIPT>
    <!-- //screenshotTemplate Template -->

    <script type="text/javascript" th:inline="javascript">
        // 아이콘 선택
        var getIconImagePreview = function (html, $target) {
        	var iconPreviewImage = $("#iconFilePath");
        	
            if (html.files && html.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    iconPreviewImage.attr("src", e.target.result);
                };
                reader.readAsDataURL(html.files[0]);
                
                $("#iconFileNamePreview").text(html.files[0].name);
                $("#iconFileSelect").hide();
                $("#iconFileSelectPreview").show();
            }
        };
        
        // 아이콘 삭제
        var deleteSelectedIconImage = function (html, $target) {
        	$("#iconFileInput").val("");
        	$("#iconFileNamePreview").text("");
			$("#iconFileSelect").show();
			$("#iconFileSelectPreview").hide();
        };

        // 스크린샷 이미지 추가
        var screenshotChange = function(currFileObj, currIndex) {
        	// 이미지 화면처리
        	$("#screenshotFileInput_"+ currIndex).css("display", "none");
        	$("#screenshotFileLabel_"+ currIndex).css("display", "none");
        	$("#dumy_div_"+ currIndex).css("display", "block");
        	$("#dumy_image_"+ currIndex).css("display", "block");
        	
			var reader = new FileReader();
			reader.onload = function (event) {
				$("#dumy_image_"+ currIndex).attr("src", event.target.result);
			};
			reader.readAsDataURL(currFileObj.files[0]);
			
			// 신규이미지 첨부 엘리먼트 생성
			var screenshotTemplateHtml = $("#screenshotTemplate").text();
			var data = {"index": (currIndex + 1)};
			$.tmpl(screenshotTemplateHtml, data).appendTo("#screenshot_ul");
        }
        
        // 스크린샷 추가 이미지 삭제
        var screenshotDelete = function(targetIndex) {
        	$("#li_"+ targetIndex).detach();
        }

        // [공통] 파일 첨부 시 이름 추출
        var extractFileName = function(html, $target) {
            var val = $(html).val().split("\\");
            var f_name = val[val.length-1]; //마지막 화일명
            var s_name = f_name.substring(f_name.length-4, f_name.length);//확장자빼오기

            $target.val(f_name);
        };

        //[테이블] 가격
        function amt(id){
            var tempCpuAmt = commonUtils.onlyNumber($("#cpuAmt_"+id).val());
            var tempMemoryAmt = commonUtils.onlyNumber($("#memoryAmt_"+id).val());
            var tempDiskAmt = commonUtils.onlyNumber($("#diskAmt_"+id).val());
            $("#sumAmt_"+id).val(commonUtils.addComma(tempCpuAmt + tempMemoryAmt+ tempDiskAmt));

            $("#cpuAmt_"+id).val(commonUtils.addComma(tempCpuAmt));
            $("#memoryAmt_"+id).val(commonUtils.addComma(tempMemoryAmt));
            $("#diskAmt_"+id).val(commonUtils.addComma(tempDiskAmt));
        };

        //[테이블] 행 삭제
        function delRow(){
            var checkbox = $("input[name='checkRow']");
            var checkCount = checkbox.size();

            for (var i=0; i<checkCount; i++) {
                if (checkbox.eq(i).is(":checked")) {
                    checkbox.eq(i).parent().parent().remove();
                }
            }
        };

        //[테이블] 행 추가
        var index = 1000;
        var nameIndex = 0;
        function addRow() {
            index++;
            nameIndex++;
            var toDayValue = $('#applyMonth').val();

            document.getElementById("pricePerMonth-tbody").insertRow(-1).innerHTML =
                "<tr>"
                +"	<td data-element-index='"+index+"'>"
                +"		<input type='checkbox' id='checkRow' name='checkRow'>&nbsp;<input type='text' id='name_"+index+"' name='softwarePlanList["+nameIndex+"].name' placeholder='Small'>"
                +"	</td>"
                +"	<td><input class='form-control' type='text' id='description_"+index+"' name='softwarePlanList["+nameIndex+"].description' placeholder='표준성능'></td>"
                +"	<td><input class='form-control' type='text' id='cpuAmt_"+index+"' name='softwarePlanList["+nameIndex+"].cpuAmt' onkeyup='amt("+index +")' placeholder='₩ 1,000'></td>"
                +"	<td>"
                +"		<input class='form-control' type='text' id='memorySize_"+index+"' name='softwarePlanList["+nameIndex+"].memorySize' onkeyup='chk("+index+")' placeholder='1234M'> &nbsp;<input class='form-control' type='text' id='memoryAmt_"+index+"' name='softwarePlanList["+nameIndex+"].memoryAmt' onkeyup='amt("+index+")' placeholder='₩ 1,000'>"
                +"	</td>"
                +"	<td>"
                +"		<input class='form-control' type='text' id='diskSize_"+index+"' name='softwarePlanList["+nameIndex+"].diskSize' onkeyup='chk("+index+")' placeholder='1G'> &nbsp;<input class='form-control' type='text' id='diskAmt_"+index+"' name='softwarePlanList["+nameIndex+"].diskAmt' onkeyup='amt("+index+")' placeholder='₩ 1,000'>"
                +"	</td>"
                +"	<td>"
                +"		<input class='form-control' type='text' id='sumAmt_"+index+"' name='sumAmt' readonly>"
                +"		<input type='hidden' name='softwarePlanList["+nameIndex+"].applyMonth' value='"+toDayValue+"'>"
                +"      <input type='hidden' id='inUse_"+index+"' name='softwarePlanList["+nameIndex+"].inUse' value='Y' >"
                +"	</td>"
                +"</tr>";
         };

        function today(){
            var date = new Date();
            var dd = date.getDate();
            var mm = date.getMonth()+1;
            var yyyy = date.getFullYear();

            if(dd<10){
                dd='0'+dd;
            }

            if(mm<10){
                mm='0'+mm;
            }

            var today = yyyy+''+mm; //yyyy+'-'+mm+'-'+dd;
            document.getElementById('applyMonth').value = today;
            document.getElementById('applyMonth_0').value = today;
        }

        //Pattern Matching
        var chk = function(id) {
            var str1 = $("#memorySize_"+id).val();
            var str2 = $("#diskSize_"+id).val();

            for (i = 0; i < str1.length; i++) {
                ch = str1.charAt(i);
                if (!(ch >= '0' && ch <= '9') && !(ch == 'G' || ch == 'M')) {
                	commonAlert.show("입력 형식은 숫자와 M 또는 G 입니다.");
                    $("#memorySize_"+id).val("");
                    return false;
                }
            }

            for (i = 0; i < str2.length; i++) {
                ch = str2.charAt(i);
                if (!(ch >= '0' && ch <= '9') && !(ch == 'G' || ch == 'M')) {
                	commonAlert.show("입력 형식은 숫자와 M 또는 G 입니다.");
                    $("#diskSize_"+id).val("");
                    return false;
                }
            }
        };

        function confirmSoftware() {
            if(doubleSubmitCheck()) {
            	return;
            }
            
            // Loading
            $("#myModal_ok").modal("hide");
            loading.start("상품 등록중...");
            
            // 마지막 스크린샷 Empty File 삭제
            $("#screenshot_ul").children().last().detach();

            // 상품금액 comma삭제
            var elementList = $("#pricePerMonth-tbody input[type=text]");
            if (!commonUtils.isEmptyArray(elementList)) {
                elementList.each(function(index, item) {
                    var obj = $(this);
                    if (commonUtils.contains(obj.attr("id"), "cpuAmt_") ||
                        commonUtils.contains(obj.attr("id"), "memoryAmt_") ||
                        commonUtils.contains(obj.attr("id"), "diskAmt_")) {
                        obj.val(commonUtils.onlyNumber(obj.val()));
                    }
                });
            }

            // Submit
            try {
                document.frm.submit();
            } catch(e) {
                // 등록 오류시 화면의 상품금액 comma 복구
                if (!commonUtils.isEmptyArray(elementList)) {
                    elementList.each(function(index, item){
                        var obj = $(this);
                        if (commonUtils.contains(obj.attr("id"), "cpuAmt_") ||
                            commonUtils.contains(obj.attr("id"), "memoryAmt_") ||
                            commonUtils.contains(obj.attr("id"), "diskAmt_")) {
                            obj.val(commonUtils.addComma(obj.val()));
                        }
                    });
                }
            }
        }

        function isEmpty(val) {
            return (val == null || val == "");
        };

        $('#saveBtn').click(function(){
            var trRows = $("#pricePerMonth-tbody tr");
            var manCheck = false;
            var msg = "";

            if(isEmpty($("#swname").val())) {
                commonAlert.show("상품명을 입력하십시오", "swname");
                return;
            }

            if(isEmpty($("#category option:selected").val())) {
                commonAlert.show("상품 카테고리를 선택하십시오", "category");
                return;
            }

            if(isEmpty($("#summary").val())) {
                commonAlert.show("상품 개요를 입력하십시오.", "summary");
                return;
            }

            var fileCheck = $("#iconFileInput").val();
            if(isEmpty(fileCheck) &&!fileCheck){
                commonAlert.show("상품 아이콘을 등록하십시오.", "summary");
                return;
            }
            
            if($('[name="screenshot_upload_list"]').children().length == 1){            	
                commonAlert.show("싱픔 스크린샷을 등록하십시오.", "summary");
                return;
            }

            if(isEmpty($("#swDescription").val())) {
                commonAlert.show("상품 상세설명을 입력하십시오.", "swDescription");
                return;
            }

            var radio11 = $("input[name=type]:checked").val();
            if(isEmpty(radio11) && typeof radio11 == "undefined") {
                commonAlert.show("상품 파일유형을 선택하십시오.", "radio1-Api");
                return;
            }

            if(isEmpty($("#productFile").val())) {
                commonAlert.show("상품 파일을 등록하십시오.", "productFileInput");
                return;
            }

            if(isEmpty($("#environmentFile").val())) {
                commonAlert.show("상품 환경파일을 등록하십시오.", "environmentFile");
                return;
            }

            trRows.each(function(index, item){
                var tdRows = $(this).children("td");
                var eleindex = tdRows.eq(0).data("elementIndex");

                if(!manCheck && isEmpty($("#name_"+eleindex).val())) {
                    msg = "플랜명을 입력하십시오.";
                    manCheck = true;
                    return;
                }
                if(!manCheck && isEmpty($("#description_"+eleindex).val())) {
                    msg = "플랜 설명을 입력하십시오.";
                    manCheck = true;
                    return;
                }
                if(!manCheck && isEmpty($("#cpuAmt_"+eleindex).val())) {
                    msg = "CPU 가격을 입력하십시오.";
                    manCheck = true;
                    return;
                }
                if(!manCheck && isEmpty($("#memorySize_"+eleindex).val())) {
                    msg = "메모리 크기를 입력하십시오.";
                    manCheck = true;
                    return;
                }
                if(!manCheck && isEmpty($("#memoryAmt_"+eleindex).val())) {
                    msg = "메모리 가격을 입력하십시오.";
                    manCheck = true;
                    return;
                }
                if(!manCheck && isEmpty($("#diskSize_"+eleindex).val())) {
                    msg = "디스크 크기를 입력하십시오.";
                    manCheck = true;
                    return;
                }
                if(!manCheck && isEmpty($("#diskAmt_"+eleindex).val())) {
                    msg = "디스크 가격을 입력하십시오.";
                    manCheck = true;
                    return;
                }
            })

            if (manCheck) {
                commonAlert.show(msg, "applyMonth");
                return;
            }

            var inUse = $("input[name=inUse]:checked").val();
            if(isEmpty(inUse) && typeof inUse == "undefined") {
                commonAlert.show("상품 전시여부를 선택하십시오.", "radio1-Y");
                return;
            }

            if(isEmpty($("#version").val())) {
                commonAlert.show("상품 버전을 입력하십시오.", "version");
                return;
            }

            $('#myModal_ok').modal("show");
        });

        // ON LOAD
        $(document).ready(function() {
            currentMenu('1_2');
            today();
        });

        // 상품파일 확장자 검사
        $("#productFileInput").change(function() {
        	var trgFileName = ""+ $("#productFile").val();
        	
        	if (commonUtils.isBlank(trgFileName)) {
        		return;
        	}
        	
			var arrTemp = trgFileName.split('\.');
			var lastIndex = arrTemp.length - 1;
        	var trgFileExtension = arrTemp[lastIndex].toLowerCase();
        	if ("war" == trgFileExtension || "jar" == trgFileExtension) {
        		return;
        	}
        	
        	commonAlert.show("확장자가 (war, jar)인 것만 첨부가능 합니다.");
        	
        	$(this).val("");
        	$("#productFile").val("");
        });
        
        // 환경파일  확장자 검사
        $("#environmentFileInput").change(function() {
        	var trgFileName = ""+ $("#environmentFile").val();
        	
        	if (commonUtils.isBlank(trgFileName)) {
        		return;
        	}
        	
			var arrTemp = trgFileName.split('\.');
			var lastIndex = arrTemp.length - 1;
        	var trgFileExtension = arrTemp[lastIndex].toLowerCase();
        	if ("yml" == trgFileExtension || "yaml" == trgFileExtension) {
        		return;
        	}
        	
        	commonAlert.show("확장자가 (yml, yaml)인 것만 첨부가능 합니다.");
        	
        	$(this).val("");
        	$("#environmentFile").val("");
        });
    </script>
</div>
</html>
