<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-registrant}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="../../static/css/tui-chart.css"/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>
    <link rel='stylesheet' type='text/css' href='../../static/css/example.css'/>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
    <script src='../../static/js/tui-chart.js'></script>
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품 현황</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li class="active">상품 현황</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- 사용현황 -->
        <div class="statusBox">
            <ul>
                <li>
                    <!-- pieChart -->
                    <div class="inWrap bg01">
                        <span class="tit">사용 앱</span>
                        <div class="in_txtBox" id='pieChartArea'>
                        </div>
                    </div>
                    <!-- pieChart -->
                </li>
                <li>
                    <!-- lineChart -->
                    <div class="inWrap bg01">
                        <span class="tit">사용 추이</span>
                        <div class="in_txtBox" id='lineChartArea'></div>
                    </div>
                    <!-- lineChart -->
                </li>
            </ul>
        </div>
        <!-- //사용현황 -->
        <form th:object="${spec}" action="#" id="SoftwareStatusForm" method="get">
        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox">
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">등록일자</label></div>
                        <div class="fm_box w_auto">
                            <div class="dateWrap">
                                <div class="date-inpt"><input type="text" class="datepicker" placeholder="YYYY-MM-DD" th:value="*{createdDateAfter}" id="createdDateAfter"></div>
                                <span class="wave">~</span>
                                <div class="date-inpt"><input type="text" class="datepicker" placeholder="YYYY-MM-DD" th:value="*{createdDateBefore}" id="createdDateBefore"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select id="categoryId">
                                <option value="">선택</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색" id="searchBtn"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->
        </form>
        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">전체 상품<span class="point4" id="view-totalElements"></span> / 판매 상품<span class="point4" id="view-countOfInstsUsing"></span> / 사용자<span class="point4" id="view-countOfUsersUsing"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:15%;">
                    <col style="width:auto;">
                    <col style="width:8%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품 명</th>
                    <th scope="col">버전</th>
                    <th scope="col">등록일</th>
                    <th scope="col">승인일</th>
                    <th scope="col">판매량</th>
                </tr>
                </thead>
                <tbody id="softwareStatusArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->
    </div>
    <!-- //content -->
    <script type="text/javascript">
        /*<![CDATA[*/
        var PAGING_SIZE = 10;
        var pageNumSave = 0;
        var SORT = "id,asc";
        var CURR_TOTAL_ELEMENTS = 0;
        var NEXT_STEP_PROC_URL;

        // 상품 사용자 수
        var userCountPerSoftware = "[[${instanceUserCount}]]";
        var resultCountList = JSON.parse(userCountPerSoftware.replace(/&quot;/g,'"'));


        // 판매 상품
        var soldSwCount = "[[${soldSwCount}]]";

        // 판매량
        var instanceCountSum = "[[${instanceCountSum}]]";

        //사용량 추이(terms,counts)
        var totalCountInstsProviderInfo = "[[${totalCountInstsProviderInfo}]]";
        var countofInstsProvider = JSON.parse(totalCountInstsProviderInfo.replace(/&quot;/g,'"'));

        // ON LOAD
        $(document).ready(function() {
            currentMenu('2_1');
            getSoftwareStatsList();
        });

        //chart
        var getSoftwareStatsChart = function(data) {
            pieChart(data);
            lineChart(data);
        };

        var pieChart = function (contentData){
            var pieChartData = contentData.content;

            if(pieChartData.length == 0){
                return;
            }else{
                var seriesData = [];
                var item = [];
                var userCount;

                for (var i = 0; i < pieChartData.length; i++) {

                    var map = pieChartData[i];

                    for (key in resultCountList) {
                        if (pieChartData[i].id == key) {
                            userCount = resultCountList[key];
                        }
                    }

                    if(userCount == "" || userCount == undefined){
                        userCount = 0;
                    }

                    //dataJson(softwareName,userCount)
                    item = {name: map.name , data: userCount};
                    seriesData.push(item);
                }
            }

            var container = document.getElementById('pieChartArea');

            var data = {
                series: seriesData
            };

            var options = {
                chart: {
                    width : 450,
                    height : 250,
                    format: function(value, chartType, areaType, valuetype, legendName) {
                        if (areaType === 'makingSeriesLabel') { // formatting at series area
                            value = value;
                        }
                        return value;
                    }
                },
                series: {
                    radiusRange: ['40%', '100%'],
                    showLabel: true
                }
                ,
                tooltip: {
                    suffix: '%'
                }
            };
            var theme = {
                series: {
                    series: {
                        colors: [
                            '#83b14e', '#458a3f', '#295ba0', '#2a4175', '#289399',
                            '#289399', '#617178', '#8a9a9a', '#516f7d', '#dddddd'
                        ]
                    },
                    label: {
                        color: '#fff',
                        fontFamily: 'sans-serif'
                    }
                }
            };
            tui.chart.pieChart(container, data, options);
        };

        var lineChart = function(contentData) {
            var countsData = countofInstsProvider;
            var lineChartData = contentData.content;
            var container = document.getElementById('lineChartArea');

            if (lineChartData.length == 0) {
                return;
            }else{
                var lineSeriesData = [];
                var lineItem = [];
                var dataPerMonth = [];

                for (var i = 0; i < lineChartData.length; i++) {
                    var map = lineChartData[i];

                    if(countofInstsProvider.counts[map.id]) {
                        dataPerMonth = countofInstsProvider.counts[map.id];
                    } else {
                        dataPerMonth = 0;
                    }

                    //dataJson(softwareName,series)
                    lineItem = {name: map.name , data: dataPerMonth};
                    lineSeriesData.push(lineItem);
                }
            }

            var data = {
                categories: countofInstsProvider.terms,
                series: lineSeriesData
            };

            var options = {
                chart: {
                    width : 700,
                    height : 250,
                },
                yAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto'
                },
                xAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto',
                    type: 'datetime',
                    dateFormat: 'yyyy-MM'
                },
                series: {
                    showDot: false,
                    zoomable: true,
                    pointWidth: 2
                },
                legend : {
                    visible : true,
                    showCheckbox : false
                },
                chartExportMenu : {
                    visible : false
                }
            };

            tui.chart.lineChart(container, data, options);
            $(".tui-chart-series-custom-event-area").hide();
        }

        var getSoftwareStatsList = function (pageNum) {
        	var srchDateParameter = "";
            var dateParameter;                                              //날짜
            var categoryId = $("#categoryId option:selected").val();        //카테고리

            if (categoryId === 'ALL' || categoryId === '') {
                categoryId = '';
            }

            var createdDateAfter = $("#createdDateAfter").datepicker('option', 'dateFormat', 'yy-mm-dd').val();
            var createdDateBefore = $("#createdDateBefore").datepicker('option', 'dateFormat', 'yy-mm-dd').val();

          	//조회일자 범위 검사
            if (!commonUtils.isBlank(createdDateAfter) || !commonUtils.isBlank(createdDateBefore)) {
            	if (commonUtils.isBlank(createdDateAfter)) {
            		commonAlert.show("검색 시작일자를 선택해주세요");
            		return;
            	} else if (commonUtils.isBlank(createdDateBefore)) {
            		commonAlert.show("검색 종료일자를 선택해주세요");
            		return;
            	}
            	var startDateTemp = createdDateAfter.replace(/\-/g, "");
            	var endDateTemp = createdDateBefore.replace(/\-/g, "");
            	if (startDateTemp > endDateTemp) {
            		commonAlert.show("검색 시작일이 종료일보다 클수없습니다.");
            		return;
            	}
            }

            if((createdDateAfter === "" || createdDateAfter === undefined) && (createdDateBefore === "" || createdDateBefore === undefined)) {
                dateParameter = "&createdDateAfter=" + '' + "&createdDateBefore=" + '';
            }else{
                dateParameter = "&createdDateAfter=" + createdDateAfter + "T00:00:00" + "&createdDateBefore=" + createdDateBefore + "T23:59:59";
                srchDateParameter = "&srchStartDate=" + createdDateAfter + "T00:00:00" + "&srchEndDate=" + createdDateBefore + "T23:59:59";
            }

         	// 리스트 조회
            //var reqUrl = "/softwares" + "?categoryId=" + categoryId + "&page=" + pageNum + "&size=" + PAGING_SIZE + "&sort=" + SORT + dateParameter;
            var reqUrl = "/softwares/with/instanceCount" + "?categoryId=" + categoryId + "&page=" + pageNum + "&size=" + PAGING_SIZE + "&sort=" + SORT + dateParameter;
            if (pageNum != null)
            	pageNumSave = pageNum;
            procCallAjax(reqUrl, "GET", null, null, callbackSoftwareStatsList);
            
            // 상태 요약정보 조회 URL 생성
            NEXT_STEP_PROC_URL = "/stats/softwares/statsInfo" + "?categoryId=" + categoryId + srchDateParameter;
            procCallAjax(NEXT_STEP_PROC_URL, "GET", null, null, callbackSoftwareStatsInfo);
        };

        // 상태 요약 정보 화면설정
        var callbackSoftwareStatsInfo = function(data) {
        	$("#view-totalElements").text(" ("+ CURR_TOTAL_ELEMENTS +")");
        	$("#view-countOfInstsUsing").text(" ("+ data.countOfInstsUsing +")");
        	$("#view-countOfUsersUsing").text(" ("+ data.countOfUsersUsing +")");
        }

        var callbackSoftwareStatsList = function(resultMap) {
        	var data = resultMap.softwarePage;
        	var instanceCountMap = resultMap.instanceCountMap;
        	
        	// 조회된 상품 전체 카운터
        	CURR_TOTAL_ELEMENTS = data.totalElements;

            var softwareStatusList = $("#softwareStatusArea");
            var htmlString = [];
            var content = data.content;
            var listLength = content.length;

            // 판매량
            var soldCount;

            if (listLength > 0) {
                getSoftwareStatsChart(data);
                for (var i = 0; i < listLength; i++) {
                	var index = i + pageNumSave * data.size;
                	
					soldCount = instanceCountMap[content[i].id];
					if (commonUtils.isEmpty(soldCount)) {
						soldCount = 0;
					}
                    
                    var statusModifiedDate = '';
                    if(content[i].statusModifiedDate == null){
                        statusModifiedDate = '';
                    }else{
                        var statusModifiedDateValue = new Date(content[i].statusModifiedDate);
                        statusModifiedDate = getFormatDate(statusModifiedDateValue);
                    }
                 	// Format Date
                 	var createdDateValue = new Date(content[i].createdDate);
                	var createdDate = getFormatDate(createdDateValue);

                    htmlString.push(
                        "<tr>"
                        + "<td>" + (index + 1) + "</td>"
                        + "<td><span class=\"pn_cate type" + content[i].category.id + "\">" + content[i].category.name + "</span></td>"
                        + "<td><a href='javascript:void(0);' onclick=moveSoftwareStatsDetail('"+content[i].id+"')>" + content[i].name+ "</a></td>"
                        + "<td>" + content[i].version + "</td>"
                        + "<td>" + createdDate + "</td>"
                        + "<td>" + statusModifiedDate + "</td>"
                        + "<td>" + soldCount + " 개</td>"
                        + "</tr>"
                    );
                }
            } else {
                htmlString = "<tr>"
                    + "<td colspan='7'><p class='user_p'>상품이 존재하지 않습니다.</p></td>" + "</tr>"

            }
            softwareStatusList.html(htmlString);

            //::page::
            var pageTotalNumber = data.totalElements;   // 총 데이터 수
        	var pageSize = data.size;                   // 한 페이지에 나타낼 데이터 수
        	paging(pageTotalNumber, pageSize, PAGING_SIZE, pageNumSave);

        	function paging(pageTotalNumber, pageSize, PAGING_SIZE, currentPage){
            	currentPage = parseInt(currentPage);

            	var totalPage = Math.ceil(pageTotalNumber/pageSize);           // 총 페이지 수
            	if (currentPage)
            		var pageGroup = Math.ceil((currentPage+1)/PAGING_SIZE);    // 페이지 그룹
            	else var pageGroup = 1;

                var last = pageGroup * PAGING_SIZE;        // 화면에 보여질 마지막 페이지 번호 (실제 페이지와 -1 차이)
                if(last > totalPage)
                    last = totalPage;
                var first = last - (PAGING_SIZE-1)-1;      // 화면에 보여질 첫번째 페이지
                if(first < 0)
                    first = 0;
                var next = currentPage + 1;                // 다음 페이지
                var prev = currentPage - 1;                // 이전 페이지
                var htmlStringPage = "";

                if(currentPage==0) {
                	htmlStringPage += "<li class='first disabled' id='first'><a href='#'>맨 처음</a></li>";
                } else {
                	htmlStringPage += "<li class='first' id='first'><a href='javascript:void(0);' onclick=moveSoftwareListPage('0')>맨 처음</a></li>";
                }

                if(prev < 0) {
                	htmlStringPage += "<li class='prev disabled' id='prev'><a href='#'>이전</a> </li>";
                } else {
                	htmlStringPage += "<li class='prev' id='prev'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ prev +"')>이전</a> </li>";
                }

                for(var i=first; i < last; i++){
                	if (i==currentPage) {
                		htmlStringPage += "<li class='active' id='" + i + "'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                	}
                	else {
                    	htmlStringPage += "<li id='" + i + "'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                	}
                }

                if(next > totalPage-1) {
                	htmlStringPage += "<li class='next disabled' id='next'><a href='#'>다음</a></li>";
                } else {
                	htmlStringPage += "<li class='next' id='next'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ next +"')>다음</a></li>";
                }

                if(currentPage==totalPage-1) {
                	htmlStringPage += "<li class='end disabled'><a href='#'>맨 끝</a></li>";
                } else {
                	htmlStringPage += "<li class='end'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ (totalPage-1) +"')>맨 끝</a></li>";
                }

                $("#pageNumberList").html(htmlStringPage);                      // 페이지 목록 생성
            }
        };


        // moveSoftwareStatsDetail
        var moveSoftwareStatsDetail = function(id) {
            procMovePage("/stats/softwares/{id}".replace("{id}", id));
        };

        // movePage
        var moveSoftwareListPage = function(page) {
            $("#pieChartArea").empty();
            $("#lineChartArea").empty();
            getSoftwareStatsList(page);
        };


        //eventBtn
        $("#searchBtn").on("click", function () {
            $("#pieChartArea").empty();
            $("#lineChartArea").empty();
            getSoftwareStatsList();
        });

        /*]]>*/
    </script>

</div>
</html>
