<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-registrant}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품 수정</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">등록 상품</a></li>
                <li class="active">상품 수정</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!--TODO ::: 상품 이름 중복 안됨. 나머지 유효성 체크도 해야 함.-->
    <!-- content -->
    <div class="content">
    <form  th:action="@{'/softwares/' + ${software.id}}" th:object="${software}" action="#" id="createSoftwareForm" method="post" enctype="multipart/form-data">
        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">상품 등록하기</h4>
            </div>
            <div class="cBox-cnt pt20">
                <!-- inner -->
                <div class="in d_block">
                    <!-- table top -->
                    <div class="tb-top">
                        <div class="pull-right">
                            <span class="point2"><i class="i_star">필수입력</i> 는 필수입력 사항입니다.</span>
                        </div>
                    </div>
                    <!-- //table top -->
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">상품명<i class="i_star">필수입력</i></th>
                                <td>
                                    <input class="form-control" type="text" th:field="*{name}">
                                    <!-- validation 체크는 아래와 같이 하도록 하세용 -->
                                    <p class="i_star" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">카테고리<i class="i_star">필수입력</i></th>
                                <td>
                                    <select th:field="*{category.id}">
                                        <option value="">선택</option>
                                        <option th:each="category : ${categories}"
                                                th:value="${category.id}"
                                                th:utext="${category.name}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">개요<i class="i_star">필수입력</i></th>
                                <td><textarea name="name" th:field="*{summary}" style="height:150px;"></textarea></td>
                            </tr>
                            <tr>
                                <th scope="row">아이콘<i class="i_star">필수입력</i></th>
                                <td>
                                    <!-- 첨부파일 -->
                                    <div class="fileUploadWrap selected_ico" style="width:50%;">
                                        <input tabindex="-1" class="form-control" id="iconFileInput" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="iconFile" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="" onchange="getThumbnailPreview(this, $('#icon_image'))">
                                        <div class="bootstrap-filestyle input-group">
                                                    <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                        <label class="btn btn-default " for="iconFileInput" id="icon_image">
                                                               <img class="logo" alt="" th:src="${software.iconPath}" />
                                                             <!--<img src="../../static/images/bg_ico_01.png" alt="" />-->  <!--파일업로드 후 첨부한 이미지 넣는 영역-->
                                                            <span class="ico ico_fileupload">파일찾기</span>
                                                        </label>
                                                    </span>
                                            <div class="input-form-group">
                                                <input name="userfile" disabled="" class="form-control" id="iconFile" type="text" placeholder="아이콘으로 등록할 이미지를 선택하세요.">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- //첨부파일 -->
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">스크린샷<i class="i_star">필수입력</i></th>
                                <td>
                                    <div class="screenShotBox">
                                        <div class="sshotWrap">
                                            <ul>
                                                <li name="li_in" id="li_in" th:each="screenshot : ${software.screenshotList}">
                                                    <div class="sshot_in">
                                                        <img th:src="${screenshot}" alt="" id="image_form_url"/>
                                                        <a href="" data-toggle="modal" data-target="#myModal_del"><span class="ico ico_delete" name="ico_delete">X</span></a>
                                                    </div>
                                                </li>
                                                <li id="li_0">
                                                    <!-- 첨부파일 -->
                                                    <div class="fileUploadWrap selected_sshot">
                                                        <input tabindex="-1" class="form-control" id="screenshotFileInput" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="screenshots" multiple="multiple" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="" onchange="getThumbnailPreviewScreenshot(this, $('#screenshot_image_list'), 0)">
                                                        <div class="bootstrap-filestyle input-group">
                                                            <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                                <label class="btn btn-default " for="screenshotFileInput" id="screenshot_image_list">
                                                                    <span class="ico ico_fileupload">파일찾기</span>
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- //첨부파일 -->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">상세설명<i class="i_star">필수입력</i></th>
                                <td><textarea name="name" th:field="*{description}" style="height:150px;"></textarea></td>
                            </tr>
                            <tr>
                                <th scope="row">파일유형<i class="i_star">필수입력</i></th>
                                <td>
                                    <!--  NOTE:  th:value값은 꼭 있어야 에러가 나지 않는다 -->
                                    <div class="radio radio-inline" th:each="type : ${types}">
                                        <input name="radio11" th:id="'radio1-' + ${type}" type="radio" th:field="*{type}" th:value="${type}" >
                                        <label class="label" th:for="'radio1-' + ${type}" th:text="${type}"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">상품파일</th>
                                <td>
                                    <!-- 첨부파일 -->
                                    <div class="fileUploadWrap" style="width:50%;">
                                        <input tabindex="-1" class="form-control" id="productFileInput" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="productFile" onchange="extractFileName(this, $('#productFile'))" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="">
                                        <div class="bootstrap-filestyle input-group">
                                            <input class="form-control" id="productFile" type="text" th:value="${software.app}">
                                            <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                <label class="btn btn-default" for="productFileInput">
                                                    <span class="btn btn-md btn-color1">파일찾기</span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="checkbox checkbox-inline">
                                        <input id="check-id4" type="checkbox">
                                        <label class="label-txt" for="check-id4">삭제</label>
                                    </div>
                                    <!-- //첨부파일 -->
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">환경파일</th>
                                <td>
                                    <!-- 첨부파일 -->
                                    <div class="fileUploadWrap" style="width:50%;">
                                        <input tabindex="-1" class="form-control" id="environmentFileInput" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="environmentFile" onchange="extractFileName(this, $('#environmentFile'))" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="">
                                        <div class="bootstrap-filestyle input-group">
                                            <input id="environmentFile" class="form-control" type="text" th:value="${software.manifest}">
                                            <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                <label class="btn btn-dfefault" for="environmentFileInput">
                                                    <span class="btn btn-md btn-color1">파일찾기</span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="checkbox checkbox-inline">
                                        <input id="check-id4" type="checkbox">
                                        <label class="label-txt" for="check-id4">삭제</label>
                                    </div>
                                    <!-- //첨부파일 -->
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">판매가격<i class="i_star">필수입력</i></th>
                                <td>
                                    <div class="form-group">
<!--                                        <select title="검색 구분 선택">-->
<!--                                            <option value="">선택</option>-->
<!--                                            <option value="">-</option>-->
<!--                                            <option value="">-</option>-->
<!--                                        </select>-->
                                        <input style="width:100px;" type="text" th:field="*{pricePerDay}"> 원 / 월
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">전시여부<i class="i_star">필수입력</i></th>
                                <td>
                                    <div class="radio radio-inline" th:each="yn : ${yns}">
                                        <input name="radio19" th:id="'radio1-' + ${yn}" type="radio" th:field="*{inUse}" th:value="${yn}" >
                                        <label class="label" th:for="'radio1-' + ${yn}" th:text="${yn}"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">등록버전</th>
                                <td>
                                    <div class="form-group">
                                        <input style="width:100px;" type="text" placeholder="1.0" th:field="*{version}">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table -->

                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->
        <div class="cont_btnBox">
            <div class="pull-right">
                <button name="button" class="btn btn-color1 btn-md" type="button" data-toggle="modal" data-target="#myModal_ok">저장</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal_ok" tabindex="-1" role="dialog" aria-labelledby="modalLabel_update" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="modalLabel_update">상품 수정</h4>
                            </div>
                            <div class="modal-body">
                                <div class="only-text">
                                    상품을 수정하시겠습니까?
                                </div>
                            </div>
                            <div class="modal-footer">
<!--                                <button type="button" name="button" class="btn btn-color1"  th:onclick="'javascript:saveBtn(\''+ ${software.id} +'\');'">확인</button>-->
                                <button type="submit" name="button" class="btn btn-color1">확인</button>
                                <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Modal -->
                <button name="button" class="btn btn-color7 btn-md" type="button" data-toggle="modal" data-target="#myModal_cancel">취소</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal_cancel" tabindex="-1" role="dialog" aria-labelledby="modalLabel_cancel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="modalLabel_cancel">수정 취소</h4>
                            </div>
                            <div class="modal-body">
                                <div class="only-text">
                                    취소 하시겠습니까?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" name="button" class="btn btn-color1"  th:onclick="'location.href = \'' + @{/softwares/{id}(id=${software.id})} + '\''">확인</button>
                                <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
            </div>
        </div>
        <!-- //cBox1 -->
        <!-- Modal -->
        <div class="modal fade" id="myModal_del" tabindex="-1" role="dialog" aria-labelledby="modalLabel_del" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="modalLabel_del">스크린 샷 삭제</h4>
                    </div>
                    <div class="modal-body">
                        <div class="only-text">
                            삭제 후 스크린 샷 복구가 불 가능합니다.<br> 삭제하시겠습니까?
                        </div>
                    </div>
                    <div class="modal-footer" name="_method" type="hidden" value="PUT">
                        <button type="submit" name="button" id="deleteSoftwareBtn" class="btn btn-color1" data-dismiss="modal" th:onclick="'location.href = \'' + @{/softwares/file/{id}(id=${software.id})} + '\''">확인</button>
<!--                        <button type="button" name="button" id="deleteSoftwareBtn" class="btn btn-color1" onclick="deleteSoftwareBtn()" data-dismiss="modal">확인</button>-->
<!--                        <button name="button" class="btn btn-color7 btn-md" type="button" th:onclick="'location.href = \'' + @{/softwares/file/{id}(id=${software.id})} + '\''">확인</button>-->
                        <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </form>
    </div>

    <!-- //content -->
    <script type="text/javascript">

        // ON LOAD
        $(document).ready(function() {
            console.log("::softwares_update_new::");
        });


        // [icon]
        var getThumbnailPreview = function (html, $target) {
            if (html.files && html.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $target.css('display', '');
                    $target.html('<img src="' + e.target.result + '" border="0" alt="" />');
                };
                reader.readAsDataURL(html.files[0]);
            }

        };

        var count = 0;

        //[Screenshot]
        var getThumbnailPreviewScreenshot = function (html, $target, countNum) {
            console.log("target ::: " + $target + " & countNum ::: " + countNum);
            if (html.files && html.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $target.css('display', '');
                    $target.html(
                        '<li name="li_in" id="li_in">\n' +
                        '<div class="sshot_in">\n' +
                        '<img src="' + e.target.result + '" alt="" id="image_form_url">\n' +
                        '<a href="" data-toggle="modal" data-target="#myModal_del"><span class="ico ico_delete" name="ico_delete">X</span></a>\n' +
                        '</div>\n' +
                        '</li>')
                };
                reader.readAsDataURL(html.files[0]);

                console.log(countNum);
                count = countNum + 1;
                console.log(count);

                // 이미지 파일 첨부 버튼 추가 하기
                // 새로운 div 생성
                var currentTag = "#li_" + countNum;

                var obj = $(currentTag).clone();
                obj.attr('id', 'li_' + count);
                obj.find("label").attr('id', 'screenshot_image_list' + count);
                console.log("[FILE_INFO.screenshotsFilePath] : " + html.value);

                obj.find("#screenshotFileInput").attr('onchange', 'getThumbnailPreviewScreenshot(this, $(\'#screenshot_image_list' + count + '\'), '+ count +')');

                var nextTag = '#li_' + countNum;
                 $(nextTag).after(obj);

            }

        };

        // [공통] 파일 첨부 시 이름 추출
        var extractFileName = function(html, $target) {
            var val = $(html).val().split("\\");
            var f_name = val[val.length-1]; //마지막 화일명
            var s_name = f_name.substring(f_name.length-4, f_name.length);//확장자빼오기

            $target.val(f_name);
        };


        // [스크린 샷] 삭제
        function deleteSoftwareBtn() {
            var id = $("#id").val();
            console.log("deleteIconBtn [id] : " + id);

            FILE_INFO.screenshotListSRC  = jQuery('#image_form_url').attr("src");
            console.log("FILE_INFO.screenshotListSRC: " + FILE_INFO.screenshotListSRC);

            var reqParam = [
                FILE_INFO.screenshotListSRC
            ];

            //delete Icon_Btn Event
            $("#li_in").hide();
            $("#image_form_url").attr("src", "");

            // procCallAjax("/softwares/file/"+ id, "DELETE", JSON.stringify(reqParam), null, getSoftwareList);
        }


    </script>
</div>
</html>
